<div class="banner" id="banner-host">

  <div class="banner__container swiper-container">
    <div class="banner__wrapper swiper-wrapper">
      <div class="banner__slide swiper-slide">
        <div class="banner__slide-info-wrapper">
          <div class="banner__slide-title">
            Детские праздники в Пакабата
          </div>
          <div class="banner__slide-content gl-font-calibri">
            Скидка 10 % за каждого ПакаДруга с 27.03 до 27.04. Приведи десять друзей и играй бесплатно хоть целый день
          </div>
        </div>
      </div>
      <div class="banner__slide swiper-slide">
        <div class="banner__slide-info-wrapper">
          <div class="banner__slide-title">
            Детские праздники в Пакабата
          </div>
          <div class="banner__slide-content gl-font-calibri">
            Скидка 10 % за каждого ПакаДруга с 27.03 до 27.04. Приведи десять друзей и играй бесплатно хоть целый день
          </div>
        </div>
      </div>
      <div class="banner__slide swiper-slide">
        <div class="banner__slide-info-wrapper">
          <div class="banner__slide-title">
            Детские праздники в Пакабата
          </div>
          <div class="banner__slide-content gl-font-calibri">
            Скидка 10 % за каждого ПакаДруга с 27.03 до 27.04. Приведи десять друзей и играй бесплатно хоть целый день
          </div>
        </div>
      </div>
      <div class="banner__slide swiper-slide">
        <div class="banner__slide-info-wrapper">
          <div class="banner__slide-title">
            Детские праздники в Пакабата
          </div>
          <div class="banner__slide-content gl-font-calibri">
            Скидка 10 % за каждого ПакаДруга с 27.03 до 27.04. Приведи десять друзей и играй бесплатно хоть целый день
          </div>
        </div>
      </div>
      <div class="banner__slide swiper-slide">
        <div class="banner__slide-info-wrapper">
          <div class="banner__slide-title">
            Детские праздники в Пакабата
          </div>
          <div class="banner__slide-content gl-font-calibri">
            Скидка 10 % за каждого ПакаДруга с 27.03 до 27.04. Приведи десять друзей и играй бесплатно хоть целый день
          </div>
        </div>
      </div>
    </div>

    <div class="banner__btn-prev swiper-button-prev"></div>
    <div class="banner__btn-next swiper-button-next"></div>
    <div class="banner__pagination swiper-pagination"></div>
  </div>
</div>
