<div class="gl-modal-container">
  <div class="gl-modal-wrapper">
    <iframe src="{{link}}?enablejsapi=1"
            class="gl-video-iframe"
            width="560"
            height="315"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
  </div>

  <button type="button" class="gl-close-btn-wrapper">
    <svg width="24" height="24" aria-hidden="true" class="gl-close-btn-icon">
      <use xlink:href="#close"></use>
    </svg>
  </button>
</div>
