<form class="gl-main-block order-form__order" id="order-form-host">
  <div class="order-form__order-title">
    Закажите праздник
  </div>

  <div class="order-form__place-wrapper">
    <div class="order-form__order-subtitle gl-font-calibri">
      Выберите место проведения
    </div>
    <div class="order-form__radio-btns-list">
      <label class="gl-radio-btn-wrapper">
        <input type="radio" class="gl-radio-btn" name="place-holiday" checked>
        <span class="gl-radio-btn-content-wrapper gl-font-calibri">
          <span class="gl-radio-btn-content">Банкетный домик</span>
        </span>
      </label>
      <label class="gl-radio-btn-wrapper">
        <input type="radio" class="gl-radio-btn" name="place-holiday">
        <span class="gl-radio-btn-content-wrapper gl-font-calibri">
          <span class="gl-radio-btn-content">Кафе</span>
        </span>
      </label>
    </div>

    <div class="order-form__inputs-text-list">
      <div class="gl-input-wrapper gl-input-number-wrapper gl-font-calibri">
        <div class="gl-input-number-text">Детей</div>
        <div class="gl-input-number-panel">
          <button type="button" class="gl-input-number-btn" id="children-btn-minus">
            <svg width="20" height="20" aria-hidden="true">
              <use xlink:href="#minus"></use>
            </svg>
          </button>
          <input type="number" class="gl-input-number-value" value="1" id="children-input">
          <button type="button" class="gl-input-number-btn" id="children-btn-plus">
            <svg width="20" height="20" aria-hidden="true">
              <use xlink:href="#plus"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="gl-input-wrapper gl-datepicker-container gl-font-calibri">
        <input type="text" class="gl-input gl-datepicker" placeholder="Дата мероприятия" readonly>
      </div>

      <label class="gl-input-wrapper gl-font-calibri">
        <input type="text" class="gl-input" placeholder="Ваше ФИО">
      </label>

      <label class="gl-input-wrapper gl-font-calibri">
        <input type="text" class="gl-input" placeholder="Телефон">
      </label>

      <label class="gl-input-wrapper gl-font-calibri">
        <textarea class="gl-input gl-input-textarea" placeholder="Комментарий"></textarea>
      </label>
    </div>
  </div>
</form>
