<div class="gl-slider {{class}}" id="{{id}}">
  <div class="gl-swiper-container about-family-pakaf__swiper-container swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="gl-swiper-slide-card">
          <img src="img/about-family-pakaf/slide-1.jpg" alt="slide" class="gl-swiper-slide-image"
               data-sizes="auto">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="gl-swiper-slide-card">
          <img src="img/about-family-pakaf/slide-2.jpg" alt="slide" class="gl-swiper-slide-image"
               data-sizes="auto">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="gl-swiper-slide-card">
          <img src="img/about-family-pakaf/slide-3.jpg" alt="slide" class="gl-swiper-slide-image"
               data-sizes="auto">
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="about-family-pakaf__btn-prev gl-btn-prev"></button>
  <button type="button" class="about-family-pakaf__btn-next gl-btn-next"></button>
</div>
