<section class="cost-visit container" id="cost-visit-host">
  <div class="cost-visit__header-wrapper">
    <div class="gl-title">стоимость посещения</div>
    <div class="gl-subtitle">Приходите в ПАКАБАТА в любой день!</div>
  </div>

  <div class="cost-visit__price-container">
    <div class="cost-visit__price-wrapper gl-main-block">
      <div class="cost-visit__price-header">
        <div class="cost-visit__price-caption">
          Стоимость билета
        </div>

        <div class="cost-visit__toggle-wrapper">
          <button type="button" class="cost-visit__toggle-item gl-font-calibri mod-active">
          <span class="cost-visit__toggle-item-content">
            Билеты
          </span>
          </button>
          <button type="button" class="cost-visit__toggle-item gl-font-calibri">
          <span class="cost-visit__toggle-item-content">
            Сертификаты
          </span>
          </button>
          <div class="cost-visit__toggle-background"></div>
        </div>
      </div>

      <div class="cost-visit__price-grid-wrapper">
        <div class="cost-visit__price-grid">
          <div class="cost-visit__price-grid-item">
            <div class="cost-visit__price-grid-caption gl-font-calibri">
              Будние дни
            </div>
            <div class="cost-visit__price-value-wrapper">
              <div class="cost-visit__price-grid-values-slider">
                <div class="cost-visit__price-grid-value cost-visit__price-grid-value-small mod-active gl-nowrap">
                  450 Р
                </div>
                <div class="cost-visit__price-grid-value cost-visit__price-grid-value-full gl-nowrap">
                  4050 Р
                </div>
              </div>
              <div class="cost-visit__price-grid-value-comment gl-font-calibri">
                безлимитное посещение
              </div>
            </div>
          </div>
          <div class="cost-visit__price-grid-item">
            <div class="cost-visit__price-grid-caption gl-font-calibri">
              Выходные и праздничные дни
            </div>
            <div class="cost-visit__price-value-wrapper">
              <div class="cost-visit__price-grid-values-slider">
                <div class="cost-visit__price-grid-value cost-visit__price-grid-value-small mod-active gl-nowrap">
                  750 Р
                </div>
                <div class="cost-visit__price-grid-value cost-visit__price-grid-value-full gl-nowrap">
                  7050 Р
                </div>
              </div>
              <div class="cost-visit__price-grid-value-comment gl-font-calibri">
                безлимитное посещение
              </div>
            </div>
          </div>
        </div>

        <div class="cost-visit__price-extension">
          <div class="cost-visit__price-extension-free-wrapper gl-main-block">
            <div class="cost-visit__price-extension-free-caption">
              Бесплатно
            </div>
            <div class="cost-visit__price-extension-free-value gl-font-calibri">
              Взрослые и малыши до 1 года
            </div>
          </div>

          <div class="cost-visit__price-extension-rules gl-font-calibri">
            Для похода в парк нужно прочитать
            <a href="#" class="cost-visit__price-extension-rules-link gl-nowrap">
              правила посещения
            </a>
          </div>
        </div>
      </div>

      <div class="cost-visit__back-background-wrapper gl-small-tablet-hide">
        <span class="cost-visit__back-background-item"></span>
        <span class="cost-visit__back-background-item"></span>
        <span class="cost-visit__back-background-item"></span>
        <span class="cost-visit__back-background-item"></span>
      </div>
    </div>

    <div class="cost-visit__hint gl-font-calibri">
      Входной билет необходимо приобретать для детей от 1 года до 16 лет включительно. Взрослые, сопровождающие ребенка,
      проходят бесплатно! Информация о ценах представлена для ознакомления. Точные цены узнавайте в парке вашего города!
    </div>
  </div>
</section>
