<section class="video container" id="video-host">
  <button type="button" class="gl-video-open video__btn">
    <span class="video__btn-text-wrapper">
      <span class="video__btn-text">видео о парке</span>
    </span>
  </button>

  {{> common-video-modal link="https://www.youtube.com/embed/pAIUxGn9lCI" }}
</section>
