<section class="map" id="map-host">
  <div class="map__container">
    <div class="map__wrapper">
      <div class="map__element js-contacts-map" data-lat="55.76136551742366" data-lng="52.45302073677058"
           data-pin="img/map/pin.svg">
      </div>
    </div>
  </div>

  <div class="map__hint-container container">
    <div class="map__hint-wrapper">
      <div class="map__hint">
        <div class="gl-subtitle map__hint-subtitle">Как добраться</div>

        <div class="gl-main-block map__hint-info-block">
          <div class="map__hint-info-item">
            <div class="map__hint-info-item-caption">
              Адрес
            </div>
            <div class="map__hint-info-item-value gl-font-calibri">
              г. Набережные Челны ТЦ ЭССЕН, ул.Яшьлек, д.14
            </div>
          </div>

          <div class="map__hint-info-item">
            <div class="map__hint-info-item-caption">
              Контакты
            </div>
            <div class="map__hint-info-item-value gl-font-calibri">
              <a href="tel:+78005555555" class="map__hint-info-item-value-phone">8 800 555-55-55</a><br>
              <a href="mailto:hello@pakabata.ru" class="map__hint-info-item-value-email">hello@pakabata.ru</a><br>
            </div>
          </div>

          <div class="map__hint-info-item">
            <div class="map__hint-info-item-caption">
              График работы
            </div>
            <div class="map__hint-info-item-value gl-font-calibri">
              Без выходных<br>
              9:00—21:00
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
