<section class="holidays container" id="holidays-host">
  <div class="holidays__title-wrapper">
    <div class="gl-title">Праздники в Пакабата</div>
    <div class="gl-subtitle">Организуем лучший праздник для вашего ребенка!</div>
  </div>

  {{> component-holidays-dude }}

  <div class="holidays__content-wrapper">
    <div class="holidays__main-block">
      <ul class="holidays__services-wrapper gl-main-block">
        <li class="holidays__services-item">
          <img src="img/holidays/show.svg" alt="show" class="holidays__services-item-icon" data-sizes="auto">
          <div class="holidays__services-item-caption">
            Шоу
          </div>
          <div class="holidays__services-item-value gl-font-calibri">
            Развлекательные программы
          </div>
        </li>

        <li class="holidays__services-item">
          <img src="img/holidays/pizza.svg" alt="show" class="holidays__services-item-icon" data-sizes="auto">
          <div class="holidays__services-item-caption">
            Угощения
          </div>
          <div class="holidays__services-item-value gl-font-calibri">
            Специальное меню нашего семейного "ПАКАФЕ"
          </div>
        </li>

        <li class="holidays__services-item">
          <img src="img/holidays/cake.svg" alt="show" class="holidays__services-item-icon" data-sizes="auto">
          <div class="holidays__services-item-caption">
            Торты
          </div>
          <div class="holidays__services-item-value gl-font-calibri">
            Наши кондитеры приготовят торт любой сложности
          </div>
        </li>

        <li class="holidays__services-item">
          <img src="img/holidays/aquagrim.svg" alt="show" class="holidays__services-item-icon"
               data-sizes="auto">
          <div class="holidays__services-item-caption">
            Аквагрим
          </div>
          <div class="holidays__services-item-value gl-font-calibri">
            Создадим сказочный образ
          </div>
        </li>

        <li class="holidays__services-item">
          <img src="img/holidays/animators.svg" alt="show" class="holidays__services-item-icon"
               data-sizes="auto">
          <div class="holidays__services-item-caption">
            Аниматоры
          </div>
          <div class="holidays__services-item-value gl-font-calibri">
            Любимые детские герои на выбор
          </div>
        </li>

        <li class="holidays__services-item">
          <img src="img/holidays/decoration.svg" alt="show" class="holidays__services-item-icon"
               data-sizes="auto">
          <div class="holidays__services-item-caption">
            Оформление
          </div>
          <div class="holidays__services-item-value gl-font-calibri">
            Воздушные шары<br>
            Гигантские цифры
          </div>
        </li>
      </ul>

      <div class="holidays__slider gl-slider">
        <div class="gl-swiper-container holidays__swiper-container swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="gl-swiper-slide-card">
                <img src="img/holidays/slide-1.jpg" alt="slide" class="gl-swiper-slide-image"
                     data-sizes="auto">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="gl-swiper-slide-card">
                <img src="img/holidays/slide-1.jpg" alt="slide" class="gl-swiper-slide-image"
                     data-sizes="auto">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="gl-swiper-slide-card">
                <img src="img/holidays/slide-1.jpg" alt="slide" class="gl-swiper-slide-image"
                     data-sizes="auto">
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="holidays__btn-prev mod-light-background gl-btn-prev"></button>
        <button type="button" class="holidays__btn-next mod-light-background gl-btn-next"></button>
      </div>

      <div class="gl-main-links-list">
        <a href="#" class="gl-main-link-container holidays__main-link-container">
          <div class="gl-main-link-content gl-small-block">
            <div class="gl-main-link-title">
              Основное меню
            </div>
            <img src="img/holidays/menu.svg" alt="menu" class="gl-main-link-icon" data-sizes="auto">
          </div>

          <div class="holidays__back-background-wrapper">
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
          </div>
        </a>

        <a href="#" class="gl-main-link-container holidays__main-link-container">
          <div class="gl-main-link-content gl-small-block">
            <div class="gl-main-link-title">
              Банкетное меню
            </div>
            <img src="img/holidays/menu.svg" alt="menu" class="gl-main-link-icon" data-sizes="auto">
          </div>

          <div class="holidays__back-background-wrapper">
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
          </div>
        </a>

        <a href="#" class="gl-main-link-container holidays__main-link-container">
          <div class="gl-main-link-content gl-small-block">
            <div class="gl-main-link-title">
              Стоимость
            </div>
            <img src="img/holidays/menu.svg" alt="menu" class="gl-main-link-icon" data-sizes="auto">
          </div>

          <div class="holidays__back-background-wrapper">
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
          </div>
        </a>
      </div>
    </div>

    {{> component-order-form }}
  </div>
</section>
