<section class="holidays container" id="holidays-host">
  <div class="holidays__title-wrapper">
    <div class="gl-title">Праздники в Пакабата</div>
    <div class="gl-subtitle">Организуем лучший праздник для вашего ребенка!</div>
  </div>

  <div class="gl-desk-show">
    {{> component-holidays-dude }}
  </div>

  <div class="holidays__content-wrapper">
    <div class="holidays__main-block">
      <div class="holidays__services-container-block">
        <div class="holidays__services-container gl-main-block">
          <div class="holidays__services-title-wrapper" style="background-image: url('../img/holidays/hollidays-photo.jpg');">
            Услуги
          </div>
          <ul class="holidays__services-wrapper">
            <li class="holidays__services-item">
              <img src="img/holidays/show.svg" alt="show" class="holidays__services-item-icon" data-sizes="auto">
              <div class="holidays__services-item-caption">
                Шоу
              </div>
              <div class="holidays__services-item-value gl-font-calibri">
                Развлекательные программы
              </div>
            </li>

            <li class="holidays__services-item">
              <img src="img/holidays/pizza.svg" alt="show" class="holidays__services-item-icon" data-sizes="auto">
              <div class="holidays__services-item-caption">
                Угощения
              </div>
              <div class="holidays__services-item-value gl-font-calibri">
                Специальное меню нашего семейного "ПАКАФЕ"
              </div>
            </li>

            <li class="holidays__services-item">
              <img src="img/holidays/cake.svg" alt="show" class="holidays__services-item-icon" data-sizes="auto">
              <div class="holidays__services-item-caption">
                Торты
              </div>
              <div class="holidays__services-item-value gl-font-calibri">
                Наши кондитеры приготовят торт любой сложности
              </div>
            </li>

            <li class="holidays__services-item">
              <img src="img/holidays/aquagrim.svg" alt="show" class="holidays__services-item-icon"
                   data-sizes="auto">
              <div class="holidays__services-item-caption">
                Аквагрим
              </div>
              <div class="holidays__services-item-value gl-font-calibri">
                Создадим сказочный образ
              </div>
            </li>

            <li class="holidays__services-item">
              <img src="img/holidays/animators.svg" alt="show" class="holidays__services-item-icon"
                   data-sizes="auto">
              <div class="holidays__services-item-caption">
                Аниматоры
              </div>
              <div class="holidays__services-item-value gl-font-calibri">
                Любимые детские герои на выбор
              </div>
            </li>

            <li class="holidays__services-item">
              <img src="img/holidays/decoration.svg" alt="show" class="holidays__services-item-icon"
                   data-sizes="auto">
              <div class="holidays__services-item-caption">
                Оформление
              </div>
              <div class="holidays__services-item-value gl-font-calibri">
                Воздушные шары<br>
                Гигантские цифры
              </div>
            </li>
          </ul>
        </div>
      </div>

      {{> component-holidays-swiper class='gl-tablet-hide' id="holidays-swiper-component-desk" }}
      {{> component-holidays-swiper class='gl-tablet-show' id="holidays-swiper-component-mobile" }}

      <div class="holidays__main-link-list gl-main-links-list">
        <a href="#" class="gl-main-link-container holidays__main-link-container">
          <div class="gl-main-link-content gl-small-block">
            <div class="gl-main-link-title">
              Основное меню
            </div>
            <img src="img/holidays/menu.svg" alt="menu" class="gl-main-link-icon" data-sizes="auto">
          </div>

          <div class="holidays__back-background-wrapper gl-sm-tablet-hide">
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
          </div>
        </a>

        <a href="#" class="gl-main-link-container holidays__main-link-container">
          <div class="gl-main-link-content gl-small-block">
            <div class="gl-main-link-title">
              Банкетное меню
            </div>
            <img src="img/holidays/menu.svg" alt="menu" class="gl-main-link-icon" data-sizes="auto">
          </div>

          <div class="holidays__back-background-wrapper gl-sm-tablet-hide">
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
          </div>
        </a>

        <a href="#" class="gl-main-link-container holidays__main-link-container">
          <div class="gl-main-link-content gl-small-block">
            <div class="gl-main-link-title">
              Стоимость
            </div>
            <img src="img/holidays/menu.svg" alt="menu" class="gl-main-link-icon" data-sizes="auto">
          </div>

          <div class="holidays__back-background-wrapper gl-sm-tablet-hide">
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
            <span class="gl-main-link-back-item"></span>
          </div>
        </a>
      </div>
    </div>

    <div class="holidays__order-form-wrapper">
      <div class="gl-desk-hide">
        {{> component-holidays-dude }}
      </div>

      {{> component-order-form }}

      <div class="holidays__contacts-wrapper order-form__padding-content">
        <div class="holidays__contacts-caption gl-font-calibri">
          При возникновении любых вопросов вам сможет ответить наш менеджер Елена Шилова
        </div>
        <a href="tel:+79788993485" class="holidays__contacts-phone">
          +7 (978) 899-34-85
        </a>
      </div>
    </div>

  </div>
</section>
