<div class="holidays__slider gl-slider {{class}}" id="{{id}}">
  <div class="holidays__slider-title">
    Домики у моря атракционов
  </div>

  <div class="gl-swiper-container holidays__swiper-container swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="holidays__swiper-slide-caption">
          Домик 1
        </div>
        <div class="gl-swiper-slide-card">
          <img src="img/holidays/slide-1.jpg" alt="slide" class="gl-swiper-slide-image"
               data-fancybox="holidays"
               data-sizes="auto">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="holidays__swiper-slide-caption">
          Домик 2
        </div>
        <div class="gl-swiper-slide-card">
          <img src="img/holidays/slide-2.jpg" alt="slide" class="gl-swiper-slide-image"
               data-fancybox="holidays"
               data-sizes="auto">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="holidays__swiper-slide-caption">
          Домик 3
        </div>
        <div class="gl-swiper-slide-card">
          <img src="img/holidays/slide-3.jpg" alt="slide" class="gl-swiper-slide-image"
               data-fancybox="holidays"
               data-sizes="auto">
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="holidays__btn-prev mod-light-background gl-btn-prev"></button>
  <button type="button" class="holidays__btn-next mod-light-background gl-btn-next"></button>
</div>
