<section class="about-park" id="about-park-host">
<div class="about-park__wrapper">
    <img src="img/about-park/blob.svg" class="about-park__blob">

    <div class="container">
      <div class="gl-title">О парке</div>
      <div class="gl-subtitle">Проведите праздник в ПАКАБАТА</div>

      <div class="about-park__info-wrapper">
        <div class="about-park__info-content gl-main-block">
          <div class="about-park__info-item">
            <div class="about-park__info-caption-number-wrapper">
              <div class="about-park__info-caption-number gl-nowrap">
                2000 м²
              </div>
            </div>
            <div class="about-park__info-caption-text">
              Улётных детских развлечений
            </div>
            <div class="about-park__info-value gl-font-calibri">
              Единый безлимитный билет для детей<br>
              Взрослым - бесплатно
            </div>
          </div>

          <div class="about-park__info-item">
            <div class="about-park__info-caption-number-wrapper">
              <div class="about-park__info-caption-number">
                5
              </div>
            </div>
            <div class="about-park__info-caption-text">
              Сказочных домиков
            </div>
            <div class="about-park__info-value gl-font-calibri">
              Для празднования детского дня рождения
            </div>
          </div>

          <div class="about-park__info-item">
            <div class="about-park__info-caption-number-wrapper">
              <div class="about-park__info-caption-number">
                20
              </div>
            </div>
            <div class="about-park__info-caption-text">
              Бомбезных аттракционов
            </div>
            <div class="about-park__info-value gl-font-calibri">
              Большая игровая площадка для малышей от 0-5 лет
            </div>
          </div>

          <div class="about-park__info-item">
            <div class="about-park__info-caption-number-wrapper">
              <div class="about-park__info-caption-number gl-nowrap">
                100%
              </div>
            </div>
            <div class="about-park__info-caption-text">
              Семейное кафе "ПАКАФЕ"
            </div>
            <div class="about-park__info-value gl-font-calibri">
              Любимые бургеры, паста и пицца<br>
              Специальное детское и банкетное меню
            </div>
          </div>
        </div>

        <img src="img/about-park/dude.png" alt="dude" class="about-park__dude-image gl-laptop-hide gs_reveal">
      </div>
    </div>

    <div class="about-park__no-container gl-slider-block-wrapper container">

      {{> component-about-park-swiper class="gl-tablet-hide" id="about-park-swiper-component-desk" }}
      {{> component-about-park-swiper class="gl-tablet-show" id="about-park-swiper-component-mobile" }}

      <div class="about-park__navigation-wrapper">
        <div class="about-park__navigation-caption">
          Бомбезные аттракционы
        </div>
        <ul class="about-park__navigation-btns-list">
          <li class="about-park__navigation-btn-wrapper">
            Батуты
          </li>
          <li class="about-park__navigation-btn-wrapper">
            Тарзанки
          </li>
          <li class="about-park__navigation-btn-wrapper">
            Тюбинги
          </li>
          <li class="about-park__navigation-btn-wrapper">
            Горки с виражами
          </li>
          <li class="about-park__navigation-btn-wrapper">
            Высотный лабиринт
          </li>
          <li class="about-park__navigation-btn-wrapper">
            Комната с видеопроекцией
          </li>
          <li class="about-park__navigation-btn-wrapper">
            Игровая площадка для малышей от 0 до 5 лет
          </li>
        </ul>
      </div>
    </div>

    <div class="container about-park__btn-video-container">
      <button type="button" class="about-park__btn-video-wrapper gl-video-open">
        <span class="about-park__btn-video-top-caption gl-font-calibri">Посмотрите</span>
        <span class="about-park__btn-video-bottom-caption">3Д-тур</span>
      </button>
    </div>

    {{> common-video-modal link="https://www.youtube.com/embed/8FU_1ei6k8M" }}
  </div>
</section>
