<button type="button" class="gl-main-btn about-family-pakaf__main-btn">
        <span class="gl-btn-container">
          <span class="gl-btn-wrapper">
            <span class="gl-btn-content-item about-family-pakaf__main-btn-content">
              <span class="about-family-pakaf__main-btn-content-text">
                Смотреть меню
                <img src="img/component-about-family-pakaf/menu.svg" alt="menu" class="about-family-pakaf__main-btn-icon" data-sizes="auto">
              </span>
            </span>
            <span class="gl-btn-content-item about-family-pakaf__main-btn-content">
              <span class="about-family-pakaf__main-btn-content-text">
                Смотреть меню
                <img src="img/component-about-family-pakaf/menu.svg" alt="menu" class="about-family-pakaf__main-btn-icon" data-sizes="auto">
              </span>
            </span>
          </span>
        </span>
</button>
