<section class="banner container" id="banner-host">
  {{> component-banner-swiper class="gl-tablet-hide" id="banner-swiper-component-desk" }}
  {{> component-banner-swiper class="gl-tablet-show" id="banner-swiper-component-mobile" }}
</section>
