<section class="about-family-pakaf" id="about-family-pakaf-host">
  <img src="img/about-family-pakaf/blob.png" class="about-family-pakaf__blob">
  <img src="img/about-family-pakaf/mask.png" id="about-family-pakaf-rellax" class="about-family-pakaf__mask">

  <div class="gl-slider-block-wrapper about-family-pakaf__slider-block-wrapper container">
    <div class="about-family-pakaf__info-wrapper">
      <div class="gl-title">О семейном Пакафе</div>
      <div class="gl-subtitle about-family-pakaf__subtitle">Нужно подкрепиться!</div>
      <div class="about-family-pakaf__caption gl-font-calibri">
        Жители далеких земель приезжали, чтобы удовлетворить свое любопытство, а самые увлеченные оставались жить.
      </div>
      <div class="gl-tablet-hide">
        {{> component-about-family-pakaf-btn-menu }}
      </div>
    </div>

    {{> component-about-family-pakaf-swiper class="gl-tablet-hide" id="about-family-pakaf-swiper-component-desk" }}
    {{> component-about-family-pakaf-swiper class="gl-tablet-show" id="about-family-pakaf-swiper-component-mobile" }}

    <div class="container gl-tablet-show about-family-pakaf__btn-menu-wrapper">
      {{> component-about-family-pakaf-btn-menu }}
    </div>
  </div>
</section>
