<section class="about-family-pakaf" id="about-family-pakaf-host">
  <img src="img/component-about-family-pakaf/blob.svg" class="about-family-pakaf__blob">

  <div class="gl-slider-block-wrapper about-family-pakaf__slider-block-wrapper container">
    <div class="about-family-pakaf__info-wrapper">
      <div class="gl-title">О семейном Пакафе</div>
      <div class="gl-subtitle about-family-pakaf__subtitle">Нужно подкрепиться!</div>
      <div class="about-family-pakaf__caption gl-font-calibri">
        Жители далеких земель приезжали, чтобы удовлетворить свое любопытство, а самые увлеченные оставались жить.
      </div>
      <div class="gl-tablet-hide">
        {{> component-about-family-pakaf-btn-menu }}
      </div>
    </div>

    <div class="gl-slider">
      <div class="gl-swiper-container about-family-pakaf__swiper-container swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="gl-swiper-slide-card">
              <img src="img/component-about-family-pakaf/slide-1.jpg" alt="slide" class="gl-swiper-slide-image"
                   data-sizes="auto">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="gl-swiper-slide-card">
              <img src="img/component-about-family-pakaf/slide-1.jpg" alt="slide" class="gl-swiper-slide-image"
                   data-sizes="auto">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="gl-swiper-slide-card">
              <img src="img/component-about-family-pakaf/slide-1.jpg" alt="slide" class="gl-swiper-slide-image"
                   data-sizes="auto">
            </div>
          </div>
        </div>
      </div>

      <button type="button" class="about-family-pakaf__btn-prev gl-btn-prev"></button>
      <button type="button" class="about-family-pakaf__btn-next gl-btn-next"></button>
    </div>

    <div class="container gl-tablet-show about-family-pakaf__btn-menu-wrapper">
      {{> component-about-family-pakaf-btn-menu }}
    </div>
  </div>
</section>
