<section class="bulletin-board container" id="bulletin-board-host">
  <div class="gl-main-links-list">
    <a href="#" class="gl-main-link-container">
      <div class="gl-main-link-content gl-small-block">
        <div class="gl-main-link-title">
          Праздники в Пакабата
        </div>
        <img src="img/bulletin-board/holidays.svg" alt="holidays" class="gl-main-link-icon" data-sizes="auto">
      </div>

      <div class="bulletin-board__back-background-wrapper">
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
      </div>
    </a>

    <a href="#" class="gl-main-link-container">
      <div class="gl-main-link-content gl-small-block">
        <div class="gl-main-link-title">
          Стоимость
        </div>
        <img src="img/bulletin-board/price.svg" alt="price" class="gl-main-link-icon" data-sizes="auto">
      </div>

      <div class="bulletin-board__back-background-wrapper">
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
      </div>
    </a>

    <a href="#" class="gl-main-link-container">
      <div class="gl-main-link-content gl-small-block">
        <div class="gl-main-link-title">
          Кафе
        </div>
        <img src="img/bulletin-board/cafe.svg" alt="cafe" class="gl-main-link-icon" data-sizes="auto">
      </div>

      <div class="bulletin-board__back-background-wrapper">
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
      </div>
    </a>
  </div>
</section>
