<div class="gl-slider popap__swiper-component-desk {{class}}">
  <div class="gl-swiper-container popap__swiper-container swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="gl-swiper-slide-card">
          <img src="img/popap/slide-1.jpg" alt="slide" class="gl-swiper-slide-image"
               data-fancybox="popup"
               data-sizes="auto"
               data-src="img/about-park/slide-1.jpg">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="gl-swiper-slide-card">
          <img src="img/popap/slide-2.jpg" alt="slide" class="gl-swiper-slide-image"
               data-fancybox="popup"
               data-sizes="auto"
               data-src="img/about-park/slide-2.jpg">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="gl-swiper-slide-card">
          <img src="img/popap/slide-3.jpg" alt="slide" class="gl-swiper-slide-image"
               data-fancybox="popup"
               data-sizes="auto"
               data-src="img/about-park/slide-3.jpg">
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="popap__btn-prev gl-btn-prev"></button>
  <button type="button" class="popap__btn-next gl-btn-next"></button>
</div>
