<section class="about-park">
  <div class="container">
    <div class="gl-title">О парке</div>
    <div class="gl-subtitle">Проведите праздник в ПАКАБАТА</div>

    <div class="about-park__info-wrapper">
      <div class="about-park__info-content">
        <div class="about-park__info-item">
          <div class="about-park__info-caption-number-wrapper">
            <div class="about-park__info-caption-number gl-nowrap">
              2000 м²
            </div>
          </div>
          <div class="about-park__info-caption-text">
            Улётных детских развлечений
          </div>
          <div class="about-park__info-value gl-font-calibri">
            Единый безлимитный билет для детей<br>
            Взрослым - бесплатно
          </div>
        </div>

        <div class="about-park__info-item">
          <div class="about-park__info-caption-number-wrapper">
            <div class="about-park__info-caption-number">
              5
            </div>
          </div>
          <div class="about-park__info-caption-text">
            Сказочных домиков
          </div>
          <div class="about-park__info-value gl-font-calibri">
            Для празднования детского дня рождения
          </div>
        </div>

        <div class="about-park__info-item">
          <div class="about-park__info-caption-number-wrapper">
            <div class="about-park__info-caption-number">
              20
            </div>
          </div>
          <div class="about-park__info-caption-text">
            Бомбезных аттракционов
          </div>
          <div class="about-park__info-value gl-font-calibri">
            Большая игровая площадка для малышей от 0-5 лет
          </div>
        </div>

        <div class="about-park__info-item">
          <div class="about-park__info-caption-number-wrapper">
            <div class="about-park__info-caption-number gl-nowrap">
              100%
            </div>
          </div>
          <div class="about-park__info-caption-text">
            Семейное кафе "ПАКАФЕ"
          </div>
          <div class="about-park__info-value gl-font-calibri">
            Любимые бургеры, паста и пицца<br>
            Специальное детское и банкетное меню
          </div>
        </div>
      </div>

      <div class="about-park__funny-guy-image"></div>
    </div>
  </div>
</section>
