<section class="banner container" id="banner-host">
  <div class="gl-tablet-hide">
    {{> component-banner-swiper id="banner-swiper-component-desk" }}
  </div>
  <div class="gl-tablet-show">
    {{> component-banner-swiper id="banner-swiper-component-mobile" }}
  </div>
</section>
