<div class="popap-item__swiper-slide swiper-slide">
  <div class="popap__container">
    <div class="popap__wrapper">
      <div class="popap__content">
        <div class="popap__header-wrapper popap__padding-content"
             style="background-image: url('img/banner/banner-image-1.jpg')">
          <button type="button" class="gl-close-btn-wrapper">
            <svg width="24" height="24" aria-hidden="true" class="gl-close-btn-icon">
              <use xlink:href="#close"></use>
            </svg>
          </button>
          <div class="popap__header-info">
            <h2 class="popap__header-info-title">
              Детские праздники в Пакабата
            </h2>
            <div class="popap__header-info-caption gl-font-calibri">
              Скидка 10 % за каждого ПакаДруга с 27.03 до 27.04. Приведи десять друзей и играй бесплатно хоть
              целый
              день
            </div>
            <a href="#order-form-holidays-host" class="gl-transparent-btn popap__btn gl-mobile-hide">
              <span class="gl-btn-container">
                <span class="gl-btn-wrapper">
                  <span class="gl-btn-content-item">Заказать праздник</span>
                  <span class="gl-btn-content-item">Заказать праздник</span>
                </span>
              </span>
            </a>
          </div>
        </div>

        <div class="popap__body-wrapper gl-font-calibri">
          <b>Жители далеких земель приезжали, удовлетворить свое любопытство, а самые увлеченные оставались жить
            на
            острове и <a href="">придумывали</a> свои аттракционы. Со временем, здесь появилось еще уйма
            развлечений.
          </b>
          <br>
          <p>
            С другой стороны рамки и место обучения кадров требует определения и уточнения направлений
            прогрессивного
            развития. Соображения высшего порядка, а также социально-экономическое развитие играет важную роль в
            формировании дальнейших направлений развития проекта?
          </p>
          <p>
            Повседневная практика показывает, что сложившаяся структура организации требует от нас анализа модели
            развития.
          </p>

          <h3>Маркерованный блок</h3>

          <ul>
            <li>Со временем, здесь появилось еще уйма развлечений. Жители стали называть его корпорация Пакабата
            </li>
            <li>Жители далеких земель приезжали, чтобы удовлетворить свое любопытство, а самые увлеченные
              оставались
              жить на острове и придумывали свои аттракционы.
            </li>
            <li>Фирменная футболка со стильной надписью «Поколение α. Я из будущего»</li>
            <li>Со временем, здесь появилось еще уйма развлечений. Жители стали называть его корпорация Пакабата
            </li>
            <li>Жители далеких земель приезжали, чтобы удовлетворить свое любопытство, а самые увлеченные
              оставались
              жить на острове и придумывали свои аттракционы.
            </li>
            <li>Фирменная футболка со стильной надписью «Поколение α. Я из будущего»</li>
          </ul>

          <h3>Нумерованный блок</h3>
          <ol>
            <li>Со временем, здесь появилось еще уйма развлечений. Жители стали называть его корпорация Пакабата
            </li>
            <li>Жители далеких земель приезжали, чтобы удовлетворить свое любопытство, а самые увлеченные
              оставались
              жить на острове и придумывали свои аттракционы.
            </li>
            <li>Фирменная футболка со стильной надписью «Поколение α. Я из будущего»</li>
            <li>Со временем, здесь появилось еще уйма развлечений. Жители стали называть его корпорация Пакабата
            </li>
            <li>Жители далеких земель приезжали, чтобы удовлетворить свое любопытство, а самые увлеченные
              оставались
              жить на острове и придумывали свои аттракционы.
            </li>
            <li>Фирменная футболка со стильной надписью «Поколение α. Я из будущего»</li>
          </ol>

          {{> component-popap-swiper class="gl-tablet-hide popap__margin-content popap__padding-content popap-swiper-component-desk popap__swiper-component-desk" id="popap-desk" }}

          {{> component-popap-swiper class="gl-tablet-show popap__margin-content popap__padding-content popap-swiper-component-mobile" id="popap-mobile" }}

          <h3>Таблица с заголовками ячейками по горизонтали</h3>

          <table>
            <caption></caption>
            <thead>
            <tr>
              <th>Модуль</th>
              <th>Форма обучения и трудоемкость</th>
              <th>Форма обучения и трудоемкость</th>
              <th>Модуль</th>
              <th>Форма обучения и трудоемкость</th>
              <th>Форма обучения и трудоемкость</th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <th>Самостоятельная работа</th>
              <th>Модуль 12 линейка продуктов</th>
              <th>Зачет</th>
              <th>Самостоятельная работа</th>
              <th>Модуль 12 линейка продуктов</th>
              <th>Зачет</th>
            </tr>
            <tr>
              <th>Дистанционная</th>
              <th>Дистанционная</th>
              <th>Очная</th>
              <th>Дистанционная</th>
              <th>Дистанционная</th>
              <th>Очная</th>
            </tr>
            <tr>
              <th>1</th>
              <th>12</th>
              <th>1</th>
              <th>1</th>
              <th>12</th>
              <th>1</th>
            </tr>
            <tr>
              <th>Самостоятельная работа</th>
              <th>Модуль 12 линейка продуктов</th>
              <th>Зачет</th>
              <th>Самостоятельная работа</th>
              <th>Модуль 12 линейка продуктов</th>
              <th>Зачет</th>
            </tr>
            <tr>
              <th>Дистанционная</th>
              <th>Дистанционная</th>
              <th>Очная</th>
              <th>Дистанционная</th>
              <th>Дистанционная</th>
              <th>Очная</th>
            </tr>
            <tr>
              <th>1</th>
              <th>12</th>
              <th>1</th>
              <th>1</th>
              <th>12</th>
              <th>1</th>
            </tr>
            </tbody>
          </table>

          <button>
            Подробнее о ценах
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
