<section class="banner container" id="banner-host">
  <div class="banner__container swiper-container">
    <div class="banner__wrapper swiper-wrapper">
      <div class="banner__slide swiper-slide" style="background-image: url('img/banner/banner-image-1.jpg')">
        <div class="banner__slide-info-wrapper">
          <div class="banner__slide-title">
            Детские праздники в Пакабата
          </div>
          <div class="banner__slide-content gl-font-calibri">
            Скидка 10 % за каждого ПакаДруга с 27.03 до 27.04. Приведи десять друзей и играй бесплатно хоть целый день
          </div>
        </div>
      </div>

      <div class="banner__slide swiper-slide" style="background-image: url('img/banner/banner-image-3.jpg')">
        <div class="banner__slide-info-wrapper">
          <div class="banner__slide-title">
            Детские праздники в Пакабата
          </div>
          <div class="banner__slide-content gl-font-calibri">
            Скидка 10 % за каждого ПакаДруга с 27.03 до 27.04. Приведи десять друзей и играй бесплатно хоть целый день
          </div>
        </div>
      </div>
      <div class="banner__slide swiper-slide" style="background-image: url('img/banner/banner-image-4.jpg')">
        <div class="banner__slide-info-wrapper">
          <div class="banner__slide-title">
            Детские праздники в Пакабата
          </div>
          <div class="banner__slide-content gl-font-calibri">
            Скидка 10 % за каждого ПакаДруга с 27.03 до 27.04. Приведи десять друзей и играй бесплатно хоть целый день
          </div>
        </div>
      </div>
      <div class="banner__slide swiper-slide" style="background-image: url('img/banner/banner-image-1.jpg')">
        <div class="banner__slide-info-wrapper">
          <div class="banner__slide-title">
            Детские праздники в Пакабата
          </div>
          <div class="banner__slide-content gl-font-calibri">
            Скидка 10 % за каждого ПакаДруга с 27.03 до 27.04. Приведи десять друзей и играй бесплатно хоть целый день
          </div>
        </div>
      </div>
      <div class="banner__slide swiper-slide" style="background-image: url('img/banner/banner-image-2.jpg')">
        <div class="banner__slide-info-wrapper">
          <div class="banner__slide-title">
            Детские праздники в Пакабата
          </div>
          <div class="banner__slide-content gl-font-calibri">
            Скидка 10 % за каждого ПакаДруга с 27.03 до 27.04. Приведи десять друзей и играй бесплатно хоть целый день
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="banner__btn-prev swiper-button-prev gl-tablet-hide"></button>
    <button type="button" class="banner__btn-next swiper-button-next gl-tablet-hide"></button>
    <div class="banner__pagination swiper-pagination"></div>
  </div>
</section>
