<div class="holidays__dude-wrapper">
  <div class="holidays__dude-content">
    <img src="img/holidays/dude.png" alt="dude" class="holidays__dude-icon">

    <div class="holidays__dude-comment">
      Имениннику – бесплатный вход!
    </div>
  </div>
</div>
