<section class="bulletin-board container">
  <div class="gl-main-links-list">
    <a href="#" class="gl-main-link-container">
      <div class="gl-main-link-content gl-small-block">
        <div class="gl-main-link-title">
          Праздники в Пакабата
        </div>
        <div class="gl-main-link-icon bulletin-board__main-link-icon mod-holidays"></div>
      </div>

      <div class="bulletin-board__back-background-wrapper">
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
      </div>
    </a>

    <a href="#" class="gl-main-link-container">
      <div class="gl-main-link-content gl-small-block">
        <div class="gl-main-link-title">
          Стоимость
        </div>
        <div class="gl-main-link-icon bulletin-board__main-link-icon mod-holidays"></div>
      </div>

      <div class="bulletin-board__back-background-wrapper">
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
      </div>
    </a>

    <a href="#" class="gl-main-link-container">
      <div class="gl-main-link-content gl-small-block">
        <div class="gl-main-link-title">
          Кафе
        </div>
        <div class="gl-main-link-icon bulletin-board__main-link-icon mod-holidays"></div>
      </div>

      <div class="bulletin-board__back-background-wrapper">
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
        <span class="gl-main-link-back-item"></span>
      </div>
    </a>
  </div>
</section>
