<footer class="footer">
  <div class="container">
    <div class="footer__logo-block">
      <img src="img/common/logo.png" alt="logo" class="footer__logo-icon">
    </div>

    <div class="footer__navigation-block">
      <a href="tel:+78005555555" class="footer__navigation-phone">
        8 800 555-55-55
      </a>

      <div class="footer__navigation-menu-wrapper">
        <a href="#" class="footer__navigation-menu-item gl-font-calibri">
          О парке
        </a>
        <a href="#" class="footer__navigation-menu-item gl-font-calibri">
          Праздники в Пака Бата
        </a>
        <a href="#" class="footer__navigation-menu-item gl-font-calibri">
          Кафе
        </a>
        <a href="#" class="footer__navigation-menu-item gl-font-calibri">
          Цены
        </a>
        <a href="#" class="footer__navigation-menu-item gl-font-calibri">
          Контакты
        </a>
      </div>

      <div class="gl-social-wrapper">
        <a href="#" class="gl-social-link">
          <svg width="16" height="16" aria-hidden="true" class="gl-social-image">
            <use xlink:href="#inst"></use>
          </svg>
        </a>
        <a href="#" class="gl-social-link">
          <svg width="16" height="8" aria-hidden="true" class="gl-social-image">
            <use xlink:href="#vk"></use>
          </svg>
        </a>
        <a href="#" class="gl-social-link">
          <svg width="9" height="16" aria-hidden="true" class="gl-social-image">
            <use xlink:href="#ok"></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="footer__additional-block">
      <div class="footer__additional-links-wrapper">
        <a href="#" class="footer__additional-link gl-font-calibri">
          Правила пользователя
        </a>
        <a href="#" class="footer__additional-link gl-font-calibri">
          Политика обработки персональных данных
        </a>
      </div>

      <div class="footer__additional-author-wrapper gl-font-calibri">
        <span>Создание сайта</span>
        <a href="#" class="footer__additional-author-link">
          <img src="img/footer/author.svg" alt="author" class="footer__additional-author-link-icon">
        </a>
      </div>
    </div>
  </div>
</footer>
