<header class="header__container container" id="header-host">
  <div class="header__logo-wrapper">
    <img src="img/common/logo.png" alt="logo" class="header__logo" data-sizes="auto">
  </div>

  <div class="header__content-contacts-wrapper gl-tablet-hide">
    {{> header-contacts }}
  </div>

  <div class="header__navigate-menu-wrapper gl-tablet-hide">
    {{> header-navigate-menu }}
  </div>

  <div class="gl-laptop-hide">
    <div class="header__content-navigate-btns gl-sm-tablet-hide">
      <button type="button" class="gl-transparent-btn header__navigate-btn header__write-btn">
      <span class="gl-btn-container">
        <span class="gl-btn-wrapper">
          <span class="gl-btn-content-item">Написать письмо</span>
          <span class="gl-btn-content-item">Написать письмо</span>
        </span>
      </span>
      </button>
      <a href="#holidays-host" class="gl-main-btn header__navigate-btn header__order-holidays-btn">
      <span class="gl-btn-container">
        <span class="gl-btn-wrapper">
          <span class="gl-btn-content-item">Заказать праздник</span>
          <span class="gl-btn-content-item">Заказать праздник</span>
        </span>
      </span>
      </a>
    </div>
  </div>

  <div class="gl-laptop-show gl-tablet-hide">
    <div class="header__content-navigate-btns gl-sm-tablet-hide">
      <button type="button" class="gl-transparent-btn header__navigate-btn header__write-btn">
        <img src="img/header/write.svg" alt="write" class="header__navigate-link-icon">
      </button>
      <a href="#holidays-host" class="gl-main-btn header__navigate-btn header__order-holidays-btn">
        <img src="img/header/holidays.svg" alt="write" class="header__navigate-link-icon">
      </a>
    </div>
  </div>

  <div class="header__mobile-block-wrapper gl-tablet-show">
    <a href="tel:+78005555555" class="header__phone gl-font-calibri gl-small-mobile-hide">
      8 800 555-55-55
    </a>
    <button class="header__burger-wrapper">
      <span class="header__burger-content"></span>
    </button>
  </div>

  <div class="header__sidebar-container gl-tablet-show">
    <div class="header__sidebar-wrapper">
      <div class="header__sidebar-header-wrapper">
        <img src="img/common/logo.png" alt="logo" class="header__sidebar-logo" data-sizes="auto">
        <button type="button" class="gl-close-btn-wrapper header__sidebar-close-btn-wrapper">
          <svg width="24" height="24" aria-hidden="true" class="gl-close-btn-icon">
            <use xlink:href="#close"></use>
          </svg>
        </button>
      </div>
      <div class="header__sidebar-navigate-menu">
        {{> header-navigate-menu }}
      </div>
      <div class="header__sidebar-contacts">
        {{> header-contacts }}
      </div>
    </div>
  </div>
</header>
