<div class="header__content-contacts">
  <div class="gl-social-wrapper header__content-social-wrapper">
    <a href="#" class="gl-social-link">
      <svg width="16" height="16" aria-hidden="true" class="gl-social-image">
        <use xlink:href="#inst"></use>
      </svg>
    </a>
    <a href="#" class="gl-social-link">
      <svg width="16" height="8" aria-hidden="true" class="gl-social-image">
        <use xlink:href="#vk"></use>
      </svg>
    </a>
    <a href="#" class="gl-social-link">
      <svg width="9" height="16" aria-hidden="true" class="gl-social-image">
        <use xlink:href="#ok"></use>
      </svg>
    </a>
  </div>

  <div class="header__working-time gl-font-calibri">
    пн-пт 9:00-18:00
  </div>

  <a href="#" class="header__geolocation gl-font-calibri gl-desk-hide">
    г. Набережные Челны ТЦ ЭССЕН, ул.Яшьлек, д.14
  </a>

  <a href="tel:+78005555555" class="header__phone gl-font-calibri">
    8 800 555-55-55
  </a>
</div>
