<div class="header__navigate-menu">
  <a href="#" class="header__menu-item">
    О парке
  </a>
  <a href="#" class="header__menu-item">
    Цены
  </a>
  <a href="#" class="header__menu-item">
    Праздники в Пакабата
  </a>
  <a href="#" class="header__menu-item">
    Контакты
  </a>
  <a href="#" class="header__menu-item">
    Кафе
  </a>
</div>
