<header class="header">
  <div class="container header__container">
    <div class="header__logo-wrapper">
      <img src="img/header/logo.svg" alt="logo" class="header__logo" data-sizes="auto">
    </div>

    <div class="header__menu-wrapper"></div>

    <div class="header__btn"></div>
  </div>
</header>
