{{#extend "layout"}}
{{#content "main"}}


<section>
    <div class="container">
      {{> component-banner }}
      {{> component-video }}
      {{> components-bulletin-board }}
    </div>
</section>


{{/content}}
{{/extend}}
