{{#extend "layout"}}
  {{#content "main"}}


    <section>
      {{> component-banner }}
      {{> component-video }}
      {{> components-bulletin-board }}
      {{> component-about-park }}
      {{> component-holidays }}
    </section>


  {{/content}}
{{/extend}}
