{{#extend "layout"}}
  {{#content "main"}}

    <section>
      {{> component-popap }}
      {{> component-modal-white }}

      {{> component-banner }}
      {{> component-video }}
      {{> components-bulletin-board }}
      {{> component-about-park }}
      {{> component-holidays }}
      {{> component-about-family-pakaf }}
      {{> component-cost-visit }}
      {{> component-map }}
    </section>


  {{/content}}
{{/extend}}
