$animation-duration: 400ms;

.swiper-slide {
  &.mod-next-slide {
    animation: next-anim $animation-duration ease-in 1 normal forwards;
    z-index: 100 !important;
  }

  &.mod-prev-slide {
    animation: prev-anim $animation-duration ease-in 1 normal forwards;
    z-index: 100 !important;
  }

  &.mod-prev-slide-up {
    opacity: 0.99 !important;
  }

  @keyframes next-anim {
    0% {
      clip-path: circle(2.5% at 95% 46%);
    }

    100% {
      clip-path: circle(100% at 50% 50%);
    }
  }

  @keyframes prev-anim {
    0% {
      clip-path: circle(2.5% at 5% 46%);
    }

    100% {
      clip-path: circle(100% at 50% 50%);
    }
  }
}
