.footer {
  background-color: #7E1CEF;
  background-image: url('../img/footer/background.svg');
  background-size: cover;
  background-position: center;
  clip-path: ellipse(94% 60% at 50% 60%);
  margin-top: -3.0rem;
  color: #fff;
  overflow: hidden;

  @include breakpoint(small-tablet) {
    clip-path: none
  }
}

.footer__container {
  @include breakpoint(tablet) {
    padding-top: 5.2rem;
  }

  @include breakpoint(small-tablet) {
    padding-top: 23.2rem;
  }

  @include breakpoint(small-mobile) {
    padding-top: 31.2rem;
  }
}

.footer__logo-block {
  height: 13.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.6rem;
}

.footer__logo-icon {
  @include breakpoint(small-mobile) {
    height: 8rem;
  }
}

.footer__navigation-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4.0rem;
  border-bottom: .1rem solid rgba(151, 151, 151, 0.3);

  @include breakpoint(small-tablet) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__navigation-phone {
  display: inline-block;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 2.6rem;
  margin-right: 2.0rem;

  @include breakpoint(small-tablet) {
    margin-right: 0;
    margin-bottom: 2.4rem;
  }
}

.footer__navigation-menu-wrapper {
  margin: 0 -1.6rem;

  @include breakpoint(laptop) {
    margin: 0 -.8rem;
  }

  @include breakpoint(small-tablet) {
    margin-bottom: 3.7rem;
    display: flex;
    flex-direction: column;
    margin: 0 -.4rem;
  }
}

.footer__navigation-menu-item {
  font-size: 2.0rem;
  padding: 1.6rem;
  color: #fff;

  @include breakpoint(laptop) {
    padding: 1.0rem;
  }

  @include breakpoint(small-tablet) {
    padding: .4rem;
  }
}

.footer__additional-block {
  height: 7.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint(small-tablet) {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1.2rem;
    margin-bottom: 6.2rem;
  }
}

.footer__additional-links-wrapper {
  display: flex;
  align-items: center;
  margin: 0 -1.0rem;

  @include breakpoint(small-tablet) {
    margin-bottom: 4.0rem;
  }
}

.footer__additional-link {
  padding: 1.0rem;

  & + & {
    margin-left: 2.6rem;
  }
}

.footer__additional-author-wrapper {
  display: flex;
  align-items: center;
}

.footer__additional-author-link {
  margin-left: .8rem;
}

.footer__additional-author-link-icon {
  height: 2.0rem;
  margin-top: .8rem;
}

.footer__social-wrapper {
  @include breakpoint(small-tablet) {
    margin: -.8rem;
    margin-top: 3.6rem;
  }
}
