.header__container {
  margin-top: 2.0rem;
  margin-bottom: 4.0rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  align-items: center;
  grid-gap: 2.8rem;

  @include breakpoint(desktop) {
    margin-top: 1rem;
    margin-bottom: 1.6rem;
    grid-gap: 1.4rem;
  }

  @include breakpoint(tablet) {
    grid-gap: 2.8rem;
    margin-top: 2.0rem;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 3.2rem;
  }

  @include breakpoint(small-tablet) {
    grid-gap: 2.0rem;
    margin-bottom: 2.6rem;
  }

  @include breakpoint(small-mobile) {
    margin-bottom: 2.0rem;
  }
}

.header__logo-wrapper {
  grid-row: 1 / 3;

  @include breakpoint(tablet) {
    grid-row: 1 / 2;
  }
}

.header__logo {
  width: auto !important;
  object-fit: contain;
  height: 8.0rem;

  @include breakpoint(small-tablet) {
    height: 6.4rem;
  }

  @include breakpoint(small-tablet) {
    height: 5.4rem;
  }

  @include breakpoint(small-mobile) {
    height: 4.0rem;
  }
}

.header__content-contacts-wrapper {
  grid-column: 2 / 4;
}

.header__content-contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include breakpoint(tablet) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.2rem;
  }

  @include breakpoint(small-tablet) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.header__content-social-wrapper {
  margin-right: 5.6rem;
  margin-left: -.8rem;

  @include breakpoint(tablet) {
    margin: -.8rem;
  }
}

.header__working-time, .header__geolocation, .header__phone {
  font-size: 1.8rem;
}

.header__phone {
  @include breakpoint(tablet) {
    font-size: 1.6rem;
    padding: 1.0rem;
    margin: -1.0rem;
  }
}

.header__working-time, .header__geolocation {
  position: relative;
  margin-right: 3.2rem;

  &:before {
    position: absolute;
    content: '';
    top: .2rem;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.header__working-time {
  padding-left: 2.6rem;
  background-image: url('../img/header/clock.svg');
  background-size: 2.0rem;
  background-position: left top 50%;
  background-repeat: no-repeat;

  @include breakpoint(tablet) {
    margin-left: -.4rem;
  }
}

.header__geolocation {
  display: inline-block;
  padding-left: 2.2rem;

  &:before {
    width: 1.6rem;
    height: 1.6rem;
    background-image: url('../img/header/geolokation.svg');
  }

  @include breakpoint(tablet) {
    display: block !important;
    margin-right: 0;
  }
}

.header__navigate-menu-wrapper {
  margin-left: -1.0rem;
  margin-right: -1.0rem;
  height: 100%;
}

.header__navigate-menu {
  display: flex;
  justify-content: space-between;

  @include breakpoint(tablet) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.header__menu-item {
  font-size: 1.4rem;
  padding: 1.6rem 1.0rem;
  font-weight: bold;
  letter-spacing: .2rem;
  text-transform: uppercase;
  white-space: nowrap;

  @include breakpoint(tablet) {
    margin: 0 -1.0rem;
  }
}

.header__content-navigate-btns {
  display: flex;
  justify-content: flex-end;

  @include breakpoint(small-tablet) {
    height: 100%;
    align-items: flex-end;
  }
}

.header__navigate-btn {
  & + & {
    margin-left: 2.0rem;
  }

  @include breakpoint(laptop) {
    width: 5.0rem;
    height: 5.0rem;
    padding: 0;
  }
}

.header__navigate-btn {
  @include breakpoint(laptop) {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}

.header__navigate-link-icon {
  height: 50%;
}

.header__burger-wrapper {
  width: 52px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(tablet) {
    margin-left: 20px;
  }
}

.header__burger-content, .header__burger-content:before, .header__burger-content:after {
  width: 32px;
  height: 4px;
  background-color: #fff;
  border-radius: 12px;
}

.header__mobile-block-wrapper {
  @include breakpoint(tablet) {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
  }
}

.header__burger-content {
  position: relative;

  &:before, &:after {
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
  }

  &:before {
    top: -8px;
  }

  &:after {
    bottom: -8px;
  }
}

.header__sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: var(--back-background-modal);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  overflow: auto;
  max-height: 100vh;
  transition: opacity 300ms;
  pointer-events: none;

  &.mod-open {
    pointer-events: initial;
    opacity: 1;
  }
}

.header__sidebar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  min-height: min-content;
  width: 46.2rem;
  background: linear-gradient(270deg, #3E0565 0%, #6813C9 96.28%);
  box-shadow: 0 0 8.2rem rgba(93, 16, 182, 0.1049);
  padding: 2.0rem 3.0rem;
  z-index: 2;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 2.0rem;

  @include breakpoint(small-mobile) {
    width: 100%;
  }
}

.header__sidebar-header-wrapper {
  position: relative;
}

.header__sidebar-close-btn-wrapper {
  top: 1.0rem;
  right: 0;
}

.header__sidebar-logo {
  height: 6.0rem;
  width: auto;
  object-fit: contain;
}

.header__sidebar-contacts {
  padding-top: 2.0rem;
  border-top: .1rem solid #979797;
}
