.holidays {
  display: flex;
  justify-content: space-between;
}

.holidays__main-block {
  width: 936px;
  flex: 1 1 936px;
}

.holidays__services-wrapper {
  padding: 60px 40px 60px 260px;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 20px;
  margin-bottom: 60px;

  &:before {
    position: absolute;
    content: '';
    width: 180px;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../img/holidays/hollidays-cropped-photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.holidays__services-item-icon {
  width: auto !important;
  height: 36px;
  object-fit: contain;
  margin-bottom: 18px;
}

.holidays__services-item-caption {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.holidays__services-item-value {
  font-size: 16px;
  line-height: 22px;
  color: var(--secondary-color);
}

.holidays__slider {
  width: 100%;
  height: 554px;
  margin-bottom: 60px;
}

.holidays__order {
  margin-left: 30px;
}

.holidays__main-link-icon {
  &.mod-menu {
    background-image: url('../img/holidays/menu.svg');
  }
}

.holidays__main-link-container {
  &:hover {
    .gl-main-link-back-item {
      &:nth-child(1) {
        top: -16px;
        left: -8px;
      }

      &:nth-child(2) {
        right: -18px;
      }

      &:nth-child(3) {
        bottom: -16px;
        left: 42px;
      }

      &:nth-child(4) {
        bottom: -8px;
        left: -14px;
      }
    }
  }
}

.holidays__back-background-wrapper {
  .gl-main-link-back-item {
    &:nth-child(1) {
      left: 0;
    }

    &:nth-child(3) {
      left: 0;
    }

    &:nth-child(4) {
      transform: rotate(26deg);
      width: 126px;
      height: 110px;
      bottom: 4px;
    }

    &:nth-child(5) {
      display: none;
    }
  }
}
