.about-park {
  margin-bottom: 90px;
  height: min-content;
  padding-top: 140px;

  @include breakpoint(laptop) {
    padding-top: 80px;
  }

  @include breakpoint(tablet) {
    padding-top: 100px;
    margin-bottom: 160px;
  }

  @include breakpoint(small-tablet) {
    margin-bottom: 80px;
  }

  @include breakpoint(small-mobile) {
    padding-top: 60px;
  }
}

.about-park__wrapper {
  position: relative;
}

.about-park__no-container {
  @include breakpoint(tablet) {
    padding: 0;
  }
}

.about-park__blob {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100vw;
  top: 10%;

  @include breakpoint(tablet) {
    height: 94%;
  }
}

.about-park__info-wrapper {
  position: relative;
  margin-bottom: 66px;

  @include breakpoint(laptop) {
    margin-bottom: 40px;
  }
}

.about-park__info-content {
  padding: 82px 98px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px;

  @include breakpoint(desktop) {
    padding: 66px 60px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 70px 60px;
  }

  @include breakpoint(small-mobile) {
    padding: 50px 20px;
    grid-gap: 40px 30px;
  }
}

.about-park__info-caption-number-wrapper {
  background-image: url('../img/about-park/mask-text-1.svg');
  background-color: var(--dark-secondary-color);
  background-size: cover;
  margin-bottom: 8px;

  @include breakpoint(laptop) {
    margin-bottom: 10px;
  }

  @include breakpoint(small-mobile) {
    margin-bottom: 20px;
  }
}

.about-park__info-caption-number {
  color: #000;
  background: #fff;
  mix-blend-mode: lighten;
  font-weight: bold;
  font-size: 70px;

  @include breakpoint(laptop) {
    font-size: 50px;
  }

  @include breakpoint(small-mobile) {
    font-size: 30px;
  }
}

.about-park__info-caption-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 38px;
  color: var(--dark-secondary-color);

  @include breakpoint(laptop) {
    font-size: 18px;
    margin-bottom: 28px;
    line-height: 24px;
  }

  @include breakpoint(small-mobile) {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 20px;
  }
}

.about-park__info-value {
  font-size: 18px;
  line-height: 22px;
  color: var(--secondary-color);

  @include breakpoint(laptop) {
    font-size: 18px;
    line-height: 20px;
  }

  @include breakpoint(small-mobile) {
    font-size: 14px;
    line-height: 18px;
  }
}

.about-park__dude-image {
  position: absolute;
  content: '';
  top: -134px;
  right: 80px;
  height: 238px;
  object-fit: contain;
  z-index: -1;

  @include breakpoint(large-desktop) {
    right: 40px;
  }

  @include breakpoint(desktop) {
    right: 0;
  }
}

//

.about-park__navigation-wrapper {
  margin-left: 130px;
  z-index: 2;

  @include breakpoint(desktop) {
    margin-left: 60px;
  }

  @include breakpoint(tablet) {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
    padding: 0 var(--content-padding);
    padding-left: var(--padding-page-content-tablet);
    padding-right: var(--padding-page-content-tablet);
  }

  @include breakpoint(mobile) {
    padding-left: var(--padding-page-content-mobile);
    padding-right: var(--padding-page-content-mobile);
  }
}

.about-park__navigation-caption {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin-bottom: 54px;
}

.about-park__navigation-btns-list {
  margin: -8px 0;

  @include breakpoint(tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 10px;
  }

  @include breakpoint(small-mobile) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.about-park__navigation-btn-wrapper {
  position: relative;
  font-weight: bold;
  font-size: 20px;
  padding: 8px;
  text-align: start;
  margin-left: 8px;

  @include breakpoint(laptop) {
    font-size: 16px;
    line-height: 20px;
  }

  & + & {
    margin-top: 32px;

    @include breakpoint(large-desktop) {
      margin-top: 16px;
    }

    @include breakpoint(tablet) {
      margin-top: 0;
    }
  }

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    transform: translate(-25%, -25%);
    width: 26px;
    height: 26px;
    background-color: var(--third-color);
    border-radius: 100%;
    z-index: -1;
    transition: 400ms width, 400ms height, 400ms transform;
  }
}

.about-park__navigation-btn {

}

//

.about-park__btn-video-wrapper {
  height: 80px;
  padding-left: 106px;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background-image: url('../img/about-park/btn-video.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.about-park__btn-video-container {
  @include breakpoint(tablet) {
    display: flex;
    justify-content: center;
  }
}

.about-park__btn-video-top-caption {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 4px;
  display: block;
}

.about-park__btn-video-bottom-caption {
  font-size: 24px;
  line-height: 28px;
  display: block;
}
