$main-block-width: 60%;

.holidays {
  margin-bottom: 160px;
  padding-top: 120px;

  @include breakpoint(desktop) {
    margin-bottom: 40px;
    overflow: hidden;
  }

  @include breakpoint(small-mobile) {
    padding-top: 40px;
  }
}

.holidays__title-wrapper {
  width: $main-block-width;
  margin-bottom: 60px;

  @include breakpoint(desktop) {
    width: 100%;
    margin-bottom: 40px;
  }
}

.holidays__swiper-container {
  @include breakpoint(tablet) {
    overflow: visible;
  }
}

.holidays__content-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;

  @include breakpoint(desktop) {
    display: block;
  }
}

.holidays__main-block {
  width: $main-block-width;

  @include breakpoint(desktop) {
    width: 100%;
  }
}

.holidays__services-container {
  display: flex;
  overflow: hidden;
  margin-bottom: 60px;

  @include breakpoint(tablet) {
    margin-bottom: 40px;
  }

  @include breakpoint(small-tablet) {
    flex-direction: column;
  }
}

.holidays__services-title-wrapper {
  width: 180px;
  flex: 0 0 180px;
  padding: 30px 40px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  clip-path: ellipse(63% 82% at 36% 50%);

  @include breakpoint(xx-mobile) {
    flex: auto;
    height: 150px;
  }

  @include breakpoint(small-tablet) {
    height: 110px;
    width: 100%;
    clip-path: ellipse(82% 83% at 50% 17%);
  }
}

.holidays__services-wrapper {
  padding: 60px 40px 60px 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 30px;

  @include breakpoint(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(small-mobile) {
    padding: 40px 30px;
    grid-gap: 40px 44px;
  }
}

.holidays__services-item-icon {
  width: auto !important;
  height: 36px;
  object-fit: contain;
  margin-bottom: 18px;

  @include breakpoint(small-tablet) {
    height: 60px;
    margin-bottom: 12px;
  }
}

.holidays__services-item-caption {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: var(--secondary-color);
  margin-bottom: 16px;

  @include breakpoint(small-tablet) {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.holidays__services-item-value {
  font-size: 16px;
  line-height: 22px;
  color: var(--secondary-color);

  @include breakpoint(small-tablet) {
    font-size: 14px;
  }
}

.holidays__slider {
  width: 100%;
  margin-bottom: 60px;
  position: relative;

  @include breakpoint(tablet) {
    position: initial;
  }
}

.holidays__slider-title {
  position: absolute;
  top: 30px;
  left: 40px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  z-index: 2;
  width: 290px;

  @include breakpoint(tablet) {
    position: initial;
    top: auto;
    left: auto;
    color: var(--secondary-color);
    padding-left: var(--padding-page-content-tablet);
    padding-right: var(--padding-page-content-tablet);
    margin-bottom: 24px;
  }

  @include breakpoint(mobile) {
    padding-left: var(--padding-page-content-mobile);
    padding-right: var(--padding-page-content-mobile);
  }
}

.holidays__swiper-slide-caption {
  position: absolute;
  bottom: 28px;
  left: 40px;
  padding: 10px 18px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  background-color: var(--dark-secondary-color);
  border-radius: 20px;
  z-index: 2;
  text-transform: uppercase;

  @include breakpoint(tablet) {
    font-size: 12px;
    line-height: 16px;
    padding: 10px 16px;
    bottom: 12px;
    left: 24px;
  }

  @include breakpoint(small-mobile) {
    font-size: 10px;
    line-height: 12px;
    padding: 8px 12px;
    bottom: 8px;
    left: 8px;
  }
}

.holidays__main-link-container {
  &:hover {
    .gl-main-link-back-item {
      &:nth-child(1) {
        top: -16px;
        left: -8px;
      }

      &:nth-child(2) {
        right: -18px;
      }

      &:nth-child(3) {
        bottom: -16px;
        left: 42px;
      }

      &:nth-child(4) {
        bottom: -8px;
        left: -14px;
      }
    }
  }
}

.holidays__main-link-list {
  @include breakpoint(tablet) {
    grid-template-columns: 1fr;
  }
}

.holidays__back-background-wrapper {
  .gl-main-link-back-item {
    &:nth-child(1) {
      left: 0;
    }

    &:nth-child(3) {
      left: 0;
    }

    &:nth-child(4) {
      transform: rotate(26deg);
      width: 126px;
      height: 110px;
      bottom: 4px;
    }

    &:nth-child(5) {
      display: none;
    }
  }
}

.holidays__order-form-wrapper {
  margin-left: 30px;
  height: min-content;
  width: 454px;
  flex: 0 0 454px;
  box-sizing: content-box;
  position: sticky;
  top: 0;

  @include breakpoint(desktop) {
    position: initial;
    padding-top: 75px;
    margin-left: 0;
  }

  @include breakpoint(tablet) {
    margin-left: 0;
  }

  @include breakpoint(small-mobile) {
    width: 100%;
    flex: auto;
    box-sizing: border-box;
  }
}

.holidays__contacts-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--secondary-color);

  @include breakpoint(xx-mobile) {
    padding-left: 0;
    padding-right: 0;
    margin-top: 26px;
    margin-bottom: 12px;
  }
}

.holidays__contacts-caption {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 14px;
}

.holidays__contacts-phone {
  font-weight: bold;
  font-size: 22px;
}

.holidays__dude-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: min-content;

  @include breakpoint(desktop) {
    position: inherit;
    display: flex;
    justify-content: flex-end;
  }
}

.holidays__dude-content {
  position: relative;
  width: 100%;
  height: 100%;

  @include breakpoint(desktop) {
    margin-bottom: 82px;
    width: auto;
    margin-top: 30px;
  }
}

.holidays__dude-icon {
  position: absolute;
  height: 106px;
  top: -74px;
  right: 0;
  width: 198px;
  object-fit: contain;

  @include breakpoint(desktop) {
    bottom: -62px;
    left: 196px;
    top: auto;
  }
}

.holidays__dude-comment {
  position: absolute;
  bottom: 44px;
  left: 14px;
  width: 262px;
  height: min-content;
  background: linear-gradient(99.28deg, #FFFEDE -43.79%, #F4D1D1 129.01%), #F3EBEA;
  border-radius: 20px 20px 0 20px;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  padding: 8px 20px;
  color: var(--secondary-color);

  @include breakpoint(desktop) {
    position: inherit;
    top: auto;
    left: auto;
    margin-right: 60px;
  }
}

.holidays__form-content {
  display: none;

  &.mod-show {
    display: block;
  }
}

.holidays__sent {
  color: var(--secondary-color);

  .order-form__back-background-item {
    &:nth-child(2) {
      @include breakpointMF(desktop) {
        bottom: 80px;
      }
    }
  }
}

.holidays__sent {
  padding: 30px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.holidays__sent-title {
  font-size: 32px;
  line-height: 28px;
  margin-bottom: 26px;
  text-align: center;
}

.holidays__sent-caption {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
