.header__container {
  margin-top: 20px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  align-items: center;
  grid-gap: 28px;
}

.header__logo-wrapper {
  grid-row-start: 1;
  grid-row-end: 3;
}

.header__logo {
  width: 236px !important;
  min-width: 236px !important;
  height: 80px;
}

.header__content-social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 4;
}

.header__working-time, .header__geolocation, .header__phone {
  font-size: 18px;
  line-height: 22px;
}

.header__working-time, .header__geolocation {
  position: relative;
  margin-right: 32px;

  &:before {
    position: absolute;
    content: '';
    top: 2px;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.header__working-time {
  padding-left: 26px;

  &:before {
    width: 20px;
    height: 20px;
    background-image: url('../img/header/clock.svg');
  }
}

.header__geolocation {
  display: inline-block;
  padding-left: 22px;

  &:before {
    width: 16px;
    height: 16px;
    background-image: url('../img/header/geolokation.svg');
  }
}

//.header__content-navigate {
//  display: flex;
//  align-items: center;
//  justify-content: space-between;
//}

.header__navigate-menu {
  display: flex;
  justify-content: space-between;
  margin-left: -10px;
  margin-right: -10px;
}

.header__menu-item {
  font-size: 14px;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  transition: 300ms color;

  &:hover {
    color: #000;
  }
}

.header__content-navigate-btns {
  display: flex;

  @include breakpoint(large-desktop) {
    flex-direction: column;
  }
}

.header__navigate-btn {
  & + & {
    margin-left: 20px;
  }

  @include breakpoint(large-desktop) {
    & + & {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}
