.video {
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
}

.video__btn {
  color: black !important; // todo поменять на пятнисытй цвет
  padding-left: 60px;
  position: relative;
  height: 46px;
  display: flex;
  align-items: center;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-image: url('../img/video/video-palay.svg');
    width: 46px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.video__btn-text-wrapper {
  background-image: url('../img/video/font-background.png');
  background-position: left -10px;
  background-color: #D394FB;
  background-size: cover;
}

.video__btn-text {
  color: #000;
  background: #fff;
  mix-blend-mode: lighten;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: .18em;
  text-transform: uppercase;
}

.video__modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .64);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  opacity: 0;
  transition: 400ms opacity;
}

.video__modal-container--show {
  opacity: 1;
  z-index: 2;
}

.video__modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video__modal-video-wrapper {
  width: 90%;
  height: 80%;
  overflow: hidden;
  border-radius: 16px;
}

.video__close-btn {
  position: absolute;
  content: '';
  top: 30px;
  right: 30px;
  z-index: 2;

  &:hover {
    .video__close-icon {
      fill: #000;
    }
  }
}

.video__close-icon {
  fill: #fff;
  transition: 300ms fill;
}
