.video {
  margin-bottom: 4.8rem;
  display: flex;
  justify-content: center;

  @include breakpoint(desktop) {
    margin-bottom: 2.2rem;
  }

  @include breakpoint(small-mobile) {
    margin-bottom: 4.0rem;
  }
}

.video__btn {
  color: black !important; // todo поменять на пятнисытй цвет
  padding-left: 6.0rem;
  position: relative;
  height: 4.6rem;
  display: flex;
  align-items: center;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-image: url('../img/video/video-palay.svg');
    width: 4.6rem;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include breakpoint(tablet) {
      width: 4.0rem;
    }

    @include breakpoint(small-mobile) {
      width: 3.2rem;
    }
  }

  @include breakpoint(tablet) {
    padding-left: 5.0rem;
    height: 4.0rem;
  }

  @include breakpoint(small-mobile) {
    padding-left: 4.8rem;
    height: 3.2rem;
  }
}

.video__btn-text {
  background-position: left -1.0rem;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url('../img/video/font-background.png');
  background-color: #D394FB;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: .18em;
  text-transform: uppercase;
}

.video__close-btn {
  z-index: 100;
}
