.video {
  margin-bottom: 48px;
  display: flex;
  justify-content: center;

  @include breakpoint(small-mobile) {
    margin-bottom: 40px;
  }
}

.video__btn {
  color: black !important; // todo поменять на пятнисытй цвет
  padding-left: 60px;
  position: relative;
  height: 46px;
  display: flex;
  align-items: center;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-image: url('../img/video/video-palay.svg');
    width: 46px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include breakpoint(tablet) {
      width: 40px;
    }

    @include breakpoint(small-mobile) {
      width: 32px;
    }
  }

  @include breakpoint(tablet) {
    padding-left: 50px;
    height: 40px;
  }

  @include breakpoint(small-mobile) {
    padding-left: 48px;
    height: 32px;
  }
}

.video__btn-text-wrapper {
  background-image: url('../img/video/font-background.png');
  background-position: left -10px;
  background-color: #D394FB;
  background-size: cover;
}

.video__btn-text {
  color: #000;
  background: #fff;
  mix-blend-mode: lighten;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: .18em;
  text-transform: uppercase;
}
