.popap {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--back-background-modal);
  z-index: -1;
  opacity: 0;
  transition: 600ms opacity;
  width: 100%;
  height: 100%;

  &.mod-show {
    opacity: 1;
    z-index: 3;
  }

  .gl-close-btn-wrapper {
    @include breakpoint(tablet) {
      width: 2.6rem;
      height: 2.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -.8rem;
      margin-right: -.8rem;
      svg {
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }
}

.popap__padding-content {
  padding-right: 8.0rem;
  padding-left: 8.0rem;
  overflow-x: auto;
  @include customScrollbarVertical();

  @include breakpoint(laptop) {
    padding-right: 6.0rem;
    padding-left: 6.0rem;
  }

  @include breakpoint(small-tablet) {
    padding-right: 4.0rem;
    padding-left: 4.0rem;
  }

  @include breakpoint(small-mobile) {
    padding-right: 2.0rem;
    padding-left: 2.0rem;
  }
}

.popap__margin-content {
  margin-top: 4.0rem;
  margin-bottom: 4.0rem;

  @include breakpoint(small-mobile) {
    margin-top: 2.0rem;
    margin-bottom: 2.0rem;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.popap__additional-margin-content {
  margin-right: 8.0rem;
  margin-left: 8.0rem;
  padding: 0;

  @include breakpoint(laptop) {
     margin-right: 6.0rem;
     margin-left: 6.0rem;
  }

  @include breakpoint(small-tablet) {
     margin-right: 4.0rem;
     margin-left: 4.0rem;
  }

  @include breakpoint(small-mobile) {
     margin-right: 2.0rem;
     margin-left: 2.0rem;
  }
}

.popap__container {
  overflow: auto;
  max-height: 100vh;
  @include customScrollbar();
}

.popap__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popap__content {
  margin: 3.0rem 0;
  border-radius: 2.0rem;
  z-index: 100;
  width: 86%;
  background-color: #fff;
  overflow: hidden;
}

.popap__header-wrapper {
  width: 100%;
  height: 56.0rem;
  justify-content: flex-end;
  font-size: 1.8rem;
  padding: 6.3rem 10.8rem;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 1ms;

  @include breakpoint(tablet) {
    height: 39.2rem;
    padding: 4.2rem 2.0rem;
    background-position: left 20% top;
  }

  @include breakpoint(small-mobile) {
    height: 26.0rem;
  }
}

.popap__btn-prev, .popap__btn-next {
  position: absolute;
  content: '';
  top: 50%;
  transform: translateY(-50%);
  width: 7.0rem !important;
  height: 7.0rem !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4.2rem 3.8rem !important;

  &:after {
    content: '';
  }
}

.popap__btn-prev, .popap-item__btn-prev {
  background-image: url('../img/common/arrows/arrow-left.svg');
}

.popap__btn-next, .popap-item__btn-next {
  background-image: url('../img/common/arrows/arrow-right.svg');
}

.popap__btn-prev {
  left: 8.4rem;
}

.popap__btn-next {
  right: 8.4rem;
}

.popap-item__btn-prev, .popap-item__btn-next {
  width: 3.8rem;
  height: 4.0rem;
  background-size: contain;
  z-index: 1000;
  background-image: url('../img/common/arrows/arrow-right.svg');
  position: absolute;
  top: 50%;
  background-repeat: no-repeat;

  &.swiper-button-disabled {
    opacity: 0.2;
  }

  &:hover {
    border-bottom-color: transparent !important;
  }

  @include breakpoint(small-tablet) {
    width: 2.8rem;
    height: 3.0rem;
  }
}

.popap-item__btn-prev, .popap__btn-prev {
  background-image: url('../img/common/arrows/arrow-left.svg');
  position: absolute;
  top: 50%;
  background-repeat: no-repeat;
}

.popap-item__btn-prev {
  left: 1.4rem;
}

.popap-item__btn-next {
  right: 1.4rem;
}

.popap__photo-header {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popap__header-info {
  z-index: 1;
  width: 50%;
  text-align: start;

  @include breakpoint(tablet) {
    width: 60%;
  }

  @include breakpoint(small-mobile) {
    width: 50%;
  }
}

.popap__header-info-title {
  color: #fff;
  font-size: 5.0rem;
  line-height: 6.2rem;
  font-weight: bold;
  margin-bottom: 3.3rem;

  @include breakpoint(tablet) {
    font-size: 3.2rem;
    line-height: 4.0rem;
    margin-bottom: 2.0rem;
  }

  @include breakpoint(small-mobile) {
    font-size: 1.6rem;
    line-height: 2.0rem;
    margin-bottom: 1.0rem;
  }
}

.popap__header-info-caption {
  font-size: 2.4rem;
  line-height: 3.4rem;
  margin-bottom: 4.0rem;

  @include breakpoint(tablet) {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  @include breakpoint(small-mobile) {
    margin-bottom: 1.0rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

.popap__btn {
  border-color: #fff;
  display: inline-block;

  @include breakpoint(small-mobile) {
    font-size: 1.2rem;
  }
}

.popap__body-wrapper {
  padding-bottom: 5.4rem;
  color: black;
}

.popap__body-wrapper {
  p {
    font-size: 2.0rem;
    line-height: 3.0rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint(laptop) {
      font-size: 1.6rem;
      line-height: 2.6rem;
    }

    @include breakpoint(small-tablet) {
      font-size: 1.4rem;
      line-height: 2.0rem;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  b {
    font-size: 3.2rem;
    line-height: 4.4rem;
    margin-top: 5.4rem;
    margin-bottom: 5.8rem;
    display: block;

    @include breakpoint(laptop) {
      font-size: 2.6rem;
      line-height: initial;
    }

    @include breakpoint(small-tablet) {
      font-size: 2.0rem;
      margin-top: 4.4rem;
      margin-bottom: 4.8rem;
    }

    @include breakpoint(small-mobile) {
      font-size: 1.6rem;
    }
  }

  a {
    color: var(--third-color);

    &:hover {
      text-decoration: underline;
    }
  }

  h3 {
    font-family: var(--riffic);
    font-size: 2.2rem;
    line-height: 2.6rem;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    margin-right: -2.0rem;
    padding-right: 2.0rem;

    @include breakpoint(small-tablet) {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul, ol {
    margin-top: 2.4rem;
    margin-bottom: 6.0rem;

    @include breakpoint(small-tablet) {
      margin-top: 2.0rem;
      margin-bottom: 4.0rem;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    li {
      font-size: 2.0rem;
      line-height: 3.0rem;
      padding-left: 2.2rem;
      position: relative;

      @include breakpoint(small-tablet) {
        font-size: 1.6rem;
        line-height: 2.6rem;
        padding-left: 1.8rem;
      }

      & + & {
        margin-top: 1.2rem;

        @include breakpoint(small-tablet) {
          margin-top: 1.0rem;
        }
      }
    }
  }

  ul {
    li {
      &:before {
        position: absolute;
        content: '';
        top: 1.0rem;
        left: 0;
        background-color: var(--third-color);
        width: .8rem;
        height: .8rem;
        border-radius: 100%;

        @include breakpoint(small-tablet) {
          top: .8rem;
          width: .6rem;
          height: .6rem;
        }
      }
    }
  }

  ol {
    li {
      padding-left: 0;

      &:before {
        color: var(--third-color);
        margin-right: .6rem;
      }
    }
  }

  table {
    border-collapse: collapse;
    margin-top: 5.0rem;
    margin-bottom: 5.0rem;

    @include breakpoint(small-tablet) {
      margin-top: 2.0rem;
      margin-bottom: 2.0rem;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  th, td {
    padding: 1.6rem 2.0rem;
    font-size: 2.0rem;
    line-height: 2.4rem;
    white-space: nowrap;

    @include breakpoint(tablet) {
      padding: 1.0rem 1.4rem;
      font-size: 1.4rem;
    }

    @include breakpoint(small-mobile) {
      font-size: 1.2rem;
    }
  }

  thead {
    th {
      color: #A3A3A3;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: .1rem;
        background-color: #D8D8D8;
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;
      background-color: transparent;
      transition: background-color 300ms;

      &:hover {
        background-color: #F7F7F7;
      }
    }
  }

  button {
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-family: var(--riffic);
    color: #000;
    padding-top: .8rem;
    padding-bottom: .4rem;
    border-bottom: .4rem solid transparent;
    transition: border-bottom-color 300ms;

    &.gl-btn-next, &.gl-btn-prev {
      border-bottom: none;
    }

    &:hover {
      border-bottom-color: var(--third-color);
    }
  }
}

.popap__swiper-component-desk {
  width: 100%;
  flex: 0 0 100%;
  overflow-x: initial;
}

.popap__swiper-container {
  height: 76.2rem;

  @include breakpoint(laptop) {
    height: 50.0rem;
  }

  @include breakpoint(tablet) {
    overflow: visible;
  }

  @include breakpoint(small-tablet) {
    height: 36.0rem;
  }

  @include breakpoint(small-mobile) {
    height: 30.0rem;
  }
}

.popap-item__swiper-container {
  position: relative;
}

.table {
  margin-top: 4.6rem;
  margin-bottom: 4.6rem;

  @include breakpoint(small-tablet) {
    margin-top: 2.6rem;
    margin-bottom: 2.6rem;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
