.gl-slider-block-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;

  @include breakpoint(tablet) {
    flex-direction: column;
  }
}

.gl-slider {
  position: relative;
  width: 68%;
  flex: 0 0 68%;

  @include breakpoint(tablet) {
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 40px;
  }
}

.gl-swiper-container {
  width: 100%;
  height: 620px;

  @include breakpoint(desktop) {
    height: 426px;
  }

  @include breakpoint(small-mobile) {
    height: 230px;
  }
}

.gl-swiper-slide-card {
  position: relative;
  height: 100%;

  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
  }
}
.gl-swiper-slide-image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 20px;
}

.gl-btn-prev, .gl-btn-next {
  position: absolute;
  content: '';
  top: 50%;
  transform: translateY(-50%);
  width: 64px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 2;

  @include breakpoint(tablet) {
    display: none;
  }
}

.gl-btn-prev {
  left: -46px;
  background-image: url('../img/common/arrows/arrow-left.svg');

  &.mod-light-background {
    background-image: url('../img/common/arrows/arrow-left-dark.svg');
  }
}

.gl-btn-next {
  right: -46px;
  background-image: url('../img/common/arrows/arrow-right.svg');

  &.mod-light-background {
    background-image: url('../img/common/arrows/arrow-right-dark.svg');
  }
}
