.gl-datepicker {
  cursor: pointer;
  position: relative;
  padding-left: 4.4rem;
  background-image: url('../img/common/calendar.svg');
  background-position: top 50% left 1.4rem;
  background-size: 2.0rem;
  background-repeat: no-repeat;
}

.gl-datepicker-container {
  position: relative;
  cursor: pointer;
  padding: 0;

  .datepicker {
    position: absolute;
    background-color: #fff;
    border-radius: 1.0rem;
    left: auto !important;
    right: -2.2rem !important;
    padding: 2.6rem 1.6rem !important;
    box-shadow: 0 0 8.2px rgrem(93, 16, 182, 0.1049);
    width: 30.3rem;
    z-index: 30000;
    top: .6rem !important;

    .datepicker-switch {
      font-size: 1.4rem;
      letter-spacing: .2rem;
      text-transform: uppercase;
      font-family: var(--riffic);
      text-align: center;
      margin-bottom: 2.0rem;
      cursor: pointer !important;
      padding-top: 0;
    }

    .datepicker-switch, .prev, .next {
      padding-bottom: 2.0rem;
    }

    .day {
      &.disabled {
        opacity: 0.1;

        &:hover {
          background: initial;
          color: initial;
        }
      }
    }
  }

  .prev, .next {
    content: '';
    position: relative;
    width: 2.0rem;
    height: 2.0rem;
    cursor: pointer;

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background-color: #fff;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &:before {
      position: absolute;
      content: '';
      width: 2.0rem;
      height: 2.0rem;
      top: 0;
      right: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      z-index: 2;
    }
  }

  .prev {
    &:before {
      background-image: url('../img/common/arrows/mark-left.svg');
    }
  }

  .next {
    &:before {
      background-image: url('../img/common/arrows/mark-right.svg');
    }
  }

  .datepicker td, .datepicker th {
    text-align: center;
    border-radius: .4rem;
    border: 0;
    font-size: 1.6rem;
    padding: .9rem 1.1rem;
    color: var(--secondary-color);

    &:nth-child(6), &:nth-child(7) {
      color: var(--third-color);
    }
  }

  .datepicker th {
    cursor: auto;
  }

  .datepicker table tr td.active,
  .datepicker table tr td.active.disabled,
  .datepicker table tr td.active.disabled:hover,
  .datepicker table tr td.active:hover,
  .datepicker table tr td.day.focused, .datepicker table tr td.day:hover {
    text-shadow: none;
    background: var(--third-color);
    border-radius: 100%;
    color: #fff;
  }

  .datepicker table tr td span.focused,
  .datepicker table tr td span:hover {
    text-shadow: none;
    background: var(--third-color);
    border-radius: 100%;
    color: #fff;
  }

  .datepicker .next:hover, .datepicker .prev:hover {
    cursor: pointer;
  }
}

.datepicker table tr td span {
  display: block;
  width: 23%;
  height: 5.4rem;
  line-height: 5.4rem;
  float: left;
  padding: .2rem;
  cursor: pointer;
  border-radius: .4rem;
}
