.about-park {
  padding-bottom: 90px;
  margin-bottom: 120px;
  position: relative;
}

.about-park__blob {
  position: absolute;
  top: 190px;
  object-fit: cover;
  height: 1275px;
  width: 100vw;
}

.about-park__info-wrapper {
  position: relative;
  margin-bottom: 66px;
}

.about-park__info-content {
  padding: 82px 98px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px;
}

.about-park__info-caption-number-wrapper {
  background-image: url('../img/about-park/mask-text-1.svg');
  background-color: #5215AA;
  background-size: cover;
  margin-bottom: 8px;
}

.about-park__info-caption-number {
  color: #000;
  background: #fff;
  mix-blend-mode: lighten;
  font-weight: bold;
  font-size: 70px;
}

.about-park__info-caption-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 38px;
  color: #5215AA;

}

.about-park__info-value {
  font-size: 18px;
  line-height: 22px;
  color: var(--secondary-color);
}

.about-park__dude-image {
  position: absolute;
  content: '';
  top: -110px; // 134 в полый рост // todo выползацие чувака - либа "https://greensock.com/scrolltrigger/"
  right: 80px;
  width: 366px;
  height: 238px;
  background-image: url('../img/about-park/dude.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: -1;
}

//

.about-park__navigation-wrapper {
  margin-left: 130px;
}

.about-park__navigation-caption {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin-bottom: 54px;
}

.about-park__navigation-btns-list {
  margin: -8px 0;
}

.about-park__navigation-btn-wrapper {
  position: relative;
  z-index: 2;

  & + & {
    margin-top: 32px;
  }

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    transform: translate(-25%, -25%);
    width: 26px;
    height: 26px;
    background-color: var(--third-color);
    border-radius: 100%;
    z-index: -1;
    transition: 400ms width, 400ms height, 400ms transform;
  }

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: #fff;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    opacity: 0;
    transition: 500ms opacity, 500ms top, 500ms left;
  }

  &.mod-active {
    &:before {
      width: 52px;
      height: 52px;
      transform: translate(-45%, -45%);
    }

    &:after {
      opacity: 1;
      top: -10px;
      left: -12px;
    }
  }

  @include breakpoint(large-desktop) {
    & + & {
      margin-top: 16px;
    }
  }
}

.about-park__navigation-btn {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  padding: 8px;
  z-index: 2;
  text-align: start;
}

//

.about-park__btn-video-wrapper {
  height: 80px;
  padding-left: 106px;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background-image: url('../img/about-park/btn-video.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.about-park__btn-video-top-caption {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 4px;
  display: block;
}

.about-park__btn-video-bottom-caption {
  font-size: 24px;
  line-height: 28px;
  display: block;
}
