$padding-content-price-wrapper: 38px;
$padding-content-price-extension: 40px;

.cost-visit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 112px;

  @include breakpoint(desktop) {
    flex-direction: column;
  }

  @include breakpoint(small-tablet) {
    margin-bottom: 52px;
  }
}

.cost-visit__header-wrapper {
  margin-right: 36px;

  @include breakpoint(desktop) {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.cost-visit__price-container {
  width: 840px;
  flex: 0 0 840px;
  height: min-content;

  @include breakpoint(desktop) {
    flex: initial;
  }

  @include breakpoint(tablet) {
    width: 100%;
    flex: none;
  }
}

.cost-visit__price-wrapper {
  padding: 42px $padding-content-price-extension;
  width: 100%;
  position: relative;

  @include breakpoint(small-mobile) {
    padding: 20px 12px;
  }
}

.cost-visit__price-header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint(small-tablet) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 28px;
  }
}

.cost-visit__price-caption {
  font-weight: bold;
  font-size: 32px;
  line-height: 28px;
  color: var(--secondary-color);

  @include breakpoint(small-tablet) {
    font-size: 24px;
  }
}

.cost-visit__toggle-wrapper {
  border: 1px dashed #D8D8D8;
  border-radius: 38px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-width: 243px;
  background-color: #fff;
  margin-right: 20px;

  @include breakpoint(small-tablet) {
    margin-right: 0;
    margin-top: 32px;
    width: 100%;
  }
}

.cost-visit__toggle-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  z-index: 1;

  &.mod-active {
    .cost-visit__toggle-item-content {
      color: #fff;
    }
  }
}

.cost-visit__toggle-item-content {
  font-size: 18px;
  line-height: 22px;
  color: rgba(21, 5, 51, 0.8);
  padding: 12px 30px;
}

.cost-visit__toggle-background {
  position: absolute;
  content: '';
  width: 50%;
  top: 6px;
  bottom: 6px;
  left: 2%;
  background-color: #FF546C;
  box-shadow: 0 0 82px rgba(93, 16, 182, 0.1049);
  border-radius: 60px;
  transition: left 300ms;

  &.mod-right {
    left: 48%;
  }
}

.cost-visit__price-grid-wrapper {
  width: 100%;
  background-color: #DAEDFF;
  border-radius: 20px;
  background-image: url('../img/cost-visit/circles-background.svg');
  background-size: cover;
  padding: 44px 28px;
  display: flex;
  justify-content: space-between;
  color: var(--secondary-color);

  @include breakpoint(small-tablet) {
    flex-direction: column;
    padding: 42px 20px;
  }
}

.cost-visit__price-grid-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 46px;

  & + & {
    margin-top: 34px;
  }

  @include breakpoint(small-mobile) {
    grid-gap: 6px;
    grid-template-columns: 40% 60%;
  }
}

.cost-visit__price-grid-caption {
  font-size: 14px;
  line-height: 28px;
}

.cost-visit__price-value-wrapper {
  width: 180px;
  height: 80px;
  overflow: hidden;
}

.cost-visit__price-grid-values-slider {
  display: grid;
  grid-template-columns: repeat(2, 180px);
  transform: translateX(0);
  transition: 300ms transform;
}

.cost-visit__price-grid-value {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  width: 100%;
  opacity: 0;
  transition: 300ms opacity;
  text-align: center;

  @include breakpoint(small-tablet) {
    font-size: 40px;
  }

  &.mod-active {
    opacity: 1;
  }
}

.cost-visit__price-grid-value-comment {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.2;
}

.cost-visit__price-extension {
  width: 260px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(small-tablet) {
    margin-left: 0;
    margin-top: 40px;
    align-items: flex-start;
    width: 100%;
  }
}

.cost-visit__price-extension-free-wrapper {
  padding: 36px $padding-content-price-extension;
  margin-bottom: 18px;
  min-width: 256px;
  width: 100%;

  @include breakpoint(small-tablet) {
    margin-bottom: 26px;
  }
}

.cost-visit__price-extension-free-caption {
  font-weight: bold;
  font-size: 32px;
  color: var(--third-color)
}

.cost-visit__price-extension-free-value {
  font-size: 14px;
}

.cost-visit__price-extension-rules {
  font-size: 14px;
  padding: 0 $padding-content-price-extension;


  @include breakpoint(mobile) {
    padding: 0;
  }
}

.cost-visit__price-extension-rules-link {
  color: var(--third-color) !important;
}

.cost-visit__back-background-item {
  position: absolute;
  content: '';
  z-index: -1;
  transition: 300ms top, 300ms right, 300ms bottom, 300ms left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &:nth-child(1) {
    width: 506px;
    height: 424px;
    top: -42px;
    left: -30px;
    background-image: url('../img/cost-visit/silhouettes/back-background-1.svg');

    @include breakpoint(small-tablet) {
      top: -22px;
      left: -10px;
    }
  }

  &:nth-child(2) {
    width: 607px;
    height: 410px;
    top: -46px;
    right: -43px;
    background-image: url('../img/cost-visit/silhouettes/back-background-2.svg');

    @include breakpoint(small-tablet) {
      display: none;
    }
  }

  &:nth-child(3) {
    width: 360px;
    height: 225px;
    bottom: -27px;
    left: 178px;
    background-image: url('../img/cost-visit/silhouettes/back-background-3.svg');

    @include breakpoint(small-tablet) {
      display: none;
    }
  }

  &:nth-child(4) {
    width: 138px;
    height: 171px;
    bottom: 34px;
    left: -58px;
    background-image: url('../img/cost-visit/silhouettes/back-background-4.svg');

    @include breakpoint(small-tablet) {
      left: -38px;
    }
  }
}

.cost-visit__hint {
  font-size: 12px;
  line-height: 18px;
  color: var(--secondary-color);
  opacity: 0.2;
  padding: 0 $padding-content-price-extension;
  margin-top: 54px;

  @include breakpoint(small-tablet) {
    text-align: center;
    margin-top: 26px;
  }
}
