.gl-main-links-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.8rem;

  @include breakpoint(tablet) {
    grid-gap: 1.2rem;
  }

  @include breakpoint(small-mobile) {
    grid-gap: .8rem;
  }
}

.gl-main-link-container {
  position: relative;
  min-height: 13.2rem;

  @include breakpoint(small-tablet) {
    min-height: auto;
  }

  &:hover {
    text-decoration: none;
    .gl-main-link-content {
      &:before {
        opacity: 1;

        @include breakpoint(small-tablet) {
          opacity: 0;
        }
      }
    }

    .gl-main-link-back-item {
      &:nth-child(1) {
        top: -2.0rem;
      }

      &:nth-child(2) {
        right: -2.8rem;
      }

      &:nth-child(3) {
        bottom: -2.0rem;
      }

      &:nth-child(4) {
        bottom: -2.7rem;
      }

      &:nth-child(5) {
        left: -3.8rem;
      }
    }
  }
}

.gl-main-link-content {
  background: #fff;
  height: 100%;
  box-shadow: .2rem .2rem .8rem rgba(93, 16, 182, 0.03), .4rem .4rem 5.0rem rgba(93, 16, 182, 0.08);
  border-radius: 2.0rem;
  padding: 4.0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  overflow: hidden;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(102.1deg, #FFFEDE -28.56%, #F4D1D1 141.58%), linear-gradient(0deg, #F3EBEA, #F3EBEA), #FAF1CC;
    transition: opacity 500ms;
    opacity: 0;
  }

  @include breakpoint(small-tablet) {
    padding: 3.4rem 3.0rem;
  }

  @include breakpoint(small-mobile) {
    padding: 3.2rem 2.0rem;
  }
}

.gl-main-link-back-item {
  position: absolute;
  content: '';
  z-index: -1;
  transition: 300ms top, 300ms right, 300ms bottom, 300ms left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &:nth-child(1) {
    width: 24.2rem;
    height: 12.0rem;
    top: 0;
    left: 10.0rem;
    background-image: url('../img/common/silhouettes/back-background-1.svg');
    background-position: top;
  }

  &:nth-child(2) {
    width: 13.6rem;
    height: 15.2rem;
    top: -.8rem;
    right: 0;
    background-image: url('../img/common/silhouettes/back-background-2.svg');
  }

  &:nth-child(3) {
    width: 22.6rem;
    height: 11.8rem;
    bottom: 0;
    left: 12.0rem;
    background-image: url('../img/common/silhouettes/back-background-3.svg');
  }

  &:nth-child(4) {
    width: 14.6rem;
    height: 10.2rem;
    bottom: 0;
    left: 0;
    background-image: url('../img/common/silhouettes/back-background-4.svg');
    background-position: bottom;
  }

  &:nth-child(5) {
    width: 10.8rem;
    height: 11.8rem;
    top: -1.8rem;
    left: 0;
    background-image: url('../img/common/silhouettes/back-background-5.svg');
  }
}

.gl-main-link-title {
  font-weight: bold;
  font-size: 2.4rem;
  color: var(--secondary-color);

  @include breakpoint(small-mobile) {
    font-size: 2.0rem;
  }
}

.gl-main-link-icon {
  height: 5.0rem;
  width: auto !important;
  margin-left: 2.0rem;

  @include breakpoint(small-mobile) {
    height: 3.2rem;
    margin-left: 1.0rem;
  }

  @include breakpoint(supersmall-mobile) {
    height: 2.4rem;
  }
}
