$main-block-width: 60%;

.holidays {
  margin-bottom: 16.0rem;
  padding-top: 12.0rem;

  @include breakpoint(laptop) {
    margin-bottom: 4.0rem;
    overflow: hidden;
  }

  @include breakpoint(small-mobile) {
    padding-top: 4.0rem;
  }
}

.holidays__title-wrapper {
  width: $main-block-width;
  margin-bottom: 6.0rem;

  @include breakpoint(laptop) {
    width: 100%;
    margin-bottom: 4.0rem;
  }
}

.holidays__swiper-container {
  @include breakpoint(tablet) {
    overflow: visible;
  }
}

.holidays__content-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;

  @include breakpoint(laptop) {
    display: block;
  }
}

.holidays__main-block {
  width: $main-block-width;

  @include breakpoint(laptop) {
    width: 100%;
  }
}

.holidays__services-container {
  display: flex;
  overflow: hidden;
  margin-bottom: 6.0rem;

  @include breakpoint(tablet) {
    margin-bottom: 4.0rem;
  }

  @include breakpoint(small-tablet) {
    flex-direction: column;
  }
}

.holidays__services-title-wrapper {
  width: 18.0rem;
  flex: 0 0 18.0rem;
  padding: 3.0rem 4.0rem;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  clip-path: ellipse(63% 82% at 36% 50%);

  @include breakpoint(xx-mobile) {
    flex: auto;
    height: 15.0rem;
  }

  @include breakpoint(small-tablet) {
    height: 11.0rem;
    width: 100%;
    clip-path: ellipse(82% 83% at 50% 17%);
  }
}

.holidays__services-wrapper {
  padding: 6.0rem 4.0rem 6.0rem 7.0rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5.0rem 3.0rem;

  @include breakpoint(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(small-mobile) {
    padding: 4.0rem 3.0rem;
    grid-gap: 4.0rem 4.4rem;
  }
}

.holidays__services-item-icon {
  width: auto !important;
  height: 3.6rem;
  object-fit: contain;
  margin-bottom: 1.8rem;

  @include breakpoint(small-tablet) {
    height: 6.0rem;
    margin-bottom: 1.2rem;
  }
}

.holidays__services-item-caption {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: var(--secondary-color);
  margin-bottom: 1.6rem;

  @include breakpoint(small-tablet) {
    font-size: 1.6rem;
    margin-bottom: .8rem;
  }
}

.holidays__services-item-value {
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: var(--secondary-color);

  @include breakpoint(small-tablet) {
    font-size: 1.4rem;
  }
}

.holidays__slider {
  width: 100%;
  margin-bottom: 6.0rem;
  position: relative;

  @include breakpoint(tablet) {
    position: initial;
  }
}

.holidays__slider-title {
  position: absolute;
  top: 3.0rem;
  left: 4.0rem;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  z-index: 2;
  width: 29.0rem;

  @include breakpoint(tablet) {
    position: initial;
    top: auto;
    left: auto;
    color: var(--secondary-color);
    padding-left: var(--padding-page-content-tablet);
    padding-right: var(--padding-page-content-tablet);
    margin-bottom: 2.4rem;
  }

  @include breakpoint(mobile) {
    padding-left: var(--padding-page-content-mobile);
    padding-right: var(--padding-page-content-mobile);
  }
}

.holidays__swiper-slide-caption {
  position: absolute;
  bottom: 2.8rem;
  left: 4.0rem;
  padding: 1.0rem 1.8rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: .2rem;
  background-color: var(--dark-secondary-color);
  border-radius: 2.0rem;
  z-index: 2;
  text-transform: uppercase;

  @include breakpoint(tablet) {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 1.0rem 1.6rem;
    bottom: 1.2rem;
    left: 2.4rem;
  }

  @include breakpoint(small-mobile) {
    font-size: 1.0rem;
    line-height: 1.2rem;
    padding: .8rem 1.2rem;
    bottom: .8rem;
    left: .8rem;
  }
}

.holidays__main-link-container {
  &:hover {
    .gl-main-link-back-item {
      &:nth-child(1) {
        top: -1.6rem;
        left: -.8rem;
      }

      &:nth-child(2) {
        right: -1.8rem;
      }

      &:nth-child(3) {
        bottom: -1.6rem;
        left: 4.2rem;
      }

      &:nth-child(4) {
        bottom: -.8rem;
        left: -1.4rem;
      }
    }
  }
}

.holidays__main-link-list {
  @include breakpoint(tablet) {
    grid-template-columns: 1fr;
  }
}

.holidays__back-background-wrapper {
  .gl-main-link-back-item {
    &:nth-child(1) {
      left: 0;
    }

    &:nth-child(3) {
      left: 0;
    }

    &:nth-child(4) {
      transform: rotate(26deg);
      width: 12.6rem;
      height: 7rem;
      bottom: .4rem;
    }

    &:nth-child(5) {
      display: none;
    }
  }
}

.holidays__order-form-wrapper {
  margin-left: 3.0rem;
  height: min-content;
  width: 45.4rem;
  flex: 0 0 45.4rem;
  box-sizing: content-box;
  position: sticky;
  top: 0;

  @include breakpoint(laptop) {
    position: initial;
    padding-top: 7.5rem;
    margin-left: 0;
  }

  @include breakpoint(tablet) {
    margin-left: 0;
  }

  @include breakpoint(small-mobile) {
    width: 100%;
    flex: auto;
    box-sizing: border-box;
  }
}

.holidays__contacts-wrapper {
  margin-top: 3.0rem;
  margin-bottom: 3.0rem;
  color: var(--secondary-color);

  @include breakpoint(xx-mobile) {
    padding-left: 0;
    padding-right: 0;
    margin-top: 2.6rem;
    margin-bottom: 1.2rem;
  }
}

.holidays__contacts-caption {
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 1.4rem;
}

.holidays__contacts-phone {
  font-weight: bold;
  font-size: 2.2rem;
}

.holidays__dude-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: min-content;

  @include breakpoint(laptop) {
    position: inherit;
    display: flex;
    justify-content: flex-end;
  }
}

.holidays__dude-content {
  position: relative;
  width: 100%;
  height: 100%;

  @include breakpoint(laptop) {
    margin-bottom: 8.2rem;
    width: auto;
    margin-top: 3.0rem;
  }
}

.holidays__dude-icon {
  position: absolute;
  height: 10.6rem;
  top: -7.4rem;
  right: 0;
  width: 19.8rem;
  object-fit: contain;

  @include breakpoint(laptop) {
    bottom: -6.2rem;
    left: 19.6rem;
    top: auto;
  }
}

.holidays__dude-comment {
  position: absolute;
  bottom: 4.4rem;
  left: 1.4rem;
  width: 26.2rem;
  height: min-content;
  background: linear-gradient(99.28deg, #FFFEDE -43.79%, #F4D1D1 129.01%), #F3EBEA;
  border-radius: 2.0rem 2.0rem 0 2.0rem;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 2.8rem;
  padding: .8rem 2.0rem;
  color: var(--secondary-color);

  @include breakpoint(laptop) {
    position: inherit;
    top: auto;
    left: auto;
    margin-right: 6.0rem;
  }
}

.holidays__form-content {
  display: none;

  &.mod-show {
    display: block;
  }
}

.holidays__sent {
  color: var(--secondary-color);

  .order-form__back-background-item {
    &:nth-child(2) {
      @include breakpointMF(laptop) {
        bottom: 8.0rem;
      }
    }
  }
}

.holidays__sent {
  padding: 3.0rem;
  height: 50.0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.holidays__sent-title {
  font-size: 3.2rem;
  line-height: 2.8rem;
  margin-bottom: 2.6rem;
  text-align: center;
}

.holidays__sent-caption {
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
}
