.modal-white__content-wrapper {
  border-radius: 2.0rem;
  max-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;

  .order-form__back-background-wrapper {
    display: none;
  }

  .order-form {
    border-radius: 0;
    height: min-content;
  }
}

.modal-white__image {
  width: 42.8rem !important;
  height: 100%;
  object-fit: cover;
}

.modal-white__back-background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .gl-main-link-back-item {
    background-size: cover;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;

    &:nth-child(1) {
      width: 87.0rem;
      height: 43.6rem;
      top: -12.0rem;
      left: 2.0rem;
      background-image: url('../img/modal-white/back-background-1.svg');

      @include breakpoint(tablet) {
        width: 54.0rem;
        height: 44.7rem;
        top: -6.0rem;
        left: 1.0rem;
      }
    }

    &:nth-child(2) {
      width: 28.2rem;
      height: 36.0rem;
      top: 2.0rem;
      right: -7.0rem;
      background-image: url('../img/modal-white/back-background-2.svg');

      @include breakpoint(tablet) {
        top: 4.0rem;
        right: -2.0rem;
      }
    }

    &:nth-child(3) {
      width: 54.4rem;
      height: 36.0rem;
      bottom: -5.0rem;
      right: -7.0rem;
      background-image: url('../img/modal-white/back-background-3.svg');

      @include breakpoint(tablet) {
        width: 37.4rem;
        height: 25.0rem;
        bottom: 0;
        right: -3.0rem;
      }
    }

    &:nth-child(4) {
      width: 34.8rem;
      height: 35.0rem;
      bottom: -5.0rem;
      left: 1.0rem;
      background-image: url('../img/modal-white/back-background-4.svg');

      @include breakpoint(tablet) {
        width: 24.8rem;
        height: 22.0rem;
        bottom: 0;
        left: -1.0rem;
      }
    }

    &:nth-child(5) {
      width: 21.4rem;
      height: 28.4rem;
      top: 3.0rem;
      left: -9.0rem;
      background-image: url('../img/modal-white/back-background-5.svg');

      @include breakpoint(tablet) {
        width: 16.4rem;
        height: 24.4rem;
        top: 3.0rem;
        left: -3.0rem;
      }
    }
  }
}

.modal-white__content {
  height: 100%;
  z-index: 2;
  position: relative;
  overflow: auto;

  @include breakpoint(tablet) {
    margin: 3.0rem;
  }

  @include breakpoint(small-tablet) {
    margin: 0;
  }

  &.mod-hide {
    display: none;
  }
}

.modal-white__info {
  display: none;
  position: relative;
  padding-left: 42.8rem;

  @include breakpoint(tablet) {
    padding-left: 0;
    &:before {
      content: initial !important;
    }
  }

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 42.8rem;
    height: 100%;
    background-image: url('../img/modal-white/image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2.0rem 0 0 2.0rem;
  }

  &.mod-show {
    display: block;
  }
}

.modal-white__sent-wrapper {
  width: 49.0rem;
  height: 67.4rem;
  background-color: #fff;
  border-radius: 0 2.0rem 2.0rem 0;
  padding: 4.2rem;
}

.modal-white__sent {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--secondary-color );
}

.modal-white__close-btn {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-white__close-icon {
  fill: var(--secondary-color );
}

.modal-white__sent-title {
  font-size: 3.2rem;
  line-height: 2.8rem;
  margin-bottom: 2.6rem;
  text-align: center;
}

.modal-white__sent-caption {
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
}
