.about-family-pakaf {
  position: relative;

  @include breakpoint(laptop) {
    height: 700px;
  }

  @include breakpoint(tablet) {
    height: min-content;
  }
}

.about-family-pakaf__mask {
  z-index: 3;
}

.about-family-pakaf__blob, .about-family-pakaf__mask {
  position: absolute;
  top: -44px;
  object-fit: cover;
  height: 130%;

  @include breakpoint(desktop) {
    height: 110%;
  }

  @include breakpoint(laptop) {
  }

  @include breakpoint(tablet) {
    top: 0;
  }
}

.about-family-pakaf__info-wrapper {
  z-index: 2;
  margin-right: 74px;

  @include breakpoint(desktop) {
    margin-right: 54px;
  }

  @include breakpoint(tablet) {
    margin-right: 0;
    margin-bottom: 40px;
    padding-left: var(--padding-page-content-tablet);
    padding-right: var(--padding-page-content-tablet);
  }

  @include breakpoint(mobile) {
    padding-left: var(--padding-page-content-mobile);
    padding-right: var(--padding-page-content-mobile);
  }
}

.about-family-pakaf__slider-block-wrapper {
  padding-top: 122px;
  align-items: center;

  @include breakpoint(tablet) {
    padding-left: 0;
    padding-right: 0;
  }
}

.about-family-pakaf__subtitle {
  color: var(--main-color);

  @include breakpoint(desktop) {
    margin-bottom: 30px;
  }

  @include breakpoint(small-mobile) {
    margin-bottom: 16px;
  }
}

.about-family-pakaf__caption {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 40px;

  @include breakpoint(desktop) {
    font-size: 20px;
    line-height: 26px;
  }

  @include breakpoint(tablet) {
    margin-bottom: 0;
  }

  @include breakpoint(small-mobile) {
    font-size: 14px;
    line-height: 20px;
  }
}

.about-family-pakaf__main-btn {
  min-width: 284px;
}

.about-family-pakaf__main-btn-content-text {
  padding-right: 48px;
  position: relative;
}

.about-family-pakaf__main-btn-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 28px;
  width: auto !important;
}

.about-family-pakaf-slider {
  width: 50%;
  flex: 0 0 50%;

  @include breakpoint(desktop) {
    width: 60%;
    flex: 0 0 60%;
  }

  @include breakpoint(tablet) {
    padding: 0;
    width: 100%;
    flex: auto;
    margin-bottom: 48px;
  }
}

.about-family-pakaf__btn-menu-wrapper {
  @include breakpoint(tablet) {
    margin-bottom: 52px;
  }
}
