.order-form {
  padding-top: 46px;
  padding-bottom: 46px;
  position: relative;

  &.mod-border-right {
    border-radius: 0 20px 20px 0 !important;

    @include breakpoint(tablet) {
      border-radius: 20px !important;
    }
  }

  .gl-input {
    &.parsley-error {
      background: rgba(255, 84, 108, 0.05);
      border: 1px solid rgba(255, 84, 108, 0.3);
    }
  }

  .parsley-errors-list {
    &.filled {
      margin-top: 4px;
      font-size: 12px;
      line-height: 22px;
      color: #FF546C;
      padding-left: 28px;
      background-image: url('../img/common/error-validation.svg');
      background-repeat: no-repeat;
      background-position: top 50% left 8px;
      background-size: 16px;
      display: flex;
      overflow: hidden;
      transition: max-height 300ms;
      align-items: center;
      cursor: initial;
      font-family: var(--calibri);
    }
  }
}

.order-form__padding-content {
  padding-left: 42px;
  padding-right: 42px;

  @include breakpoint(tablet) {
    padding-left: 30px;
    padding-right: 30px;

  }

  @include breakpoint(small-mobile) {
    padding-left: 20px;
    padding-right: 20px;

  }
}

.order-form__order-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 28px;
  margin-bottom: 30px;
  color: var(--secondary-color);
}

.order-form__order-subtitle {
  color: var(--secondary-color);
  opacity: 0.3;
  margin-bottom: 14px;
}

.order-form__radio-btns-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
  margin-bottom: 24px;

  @include breakpoint(small-tablet) {
    grid-template-columns: repeat(2, auto);
  }
}

.order-form__inputs-text-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
}

.order-form__input-children-wrapper {
  @include breakpoint(small-tablet) {
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.order-form__input-date-wrapper {
  @include breakpoint(small-tablet) {
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.order-form__input-name-wrapper {
  @include breakpoint(small-tablet) {
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.order-form__back-background-item {
  position: absolute;
  content: '';
  z-index: -1;
  transition: 300ms top, 300ms right, 300ms bottom, 300ms left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &:nth-child(1) {
    width: 487px;
    height: 419px;
    top: -82px;
    left: 0;
    background-image: url('../img/order-form/silhouettes/back-background-1.svg');

    @include breakpoint(small-mobile) {
      width: 360px;
      height: 306px;
      top: -62px;
      left: -32px;
    }
  }

  &:nth-child(2) {
    width: 492px;
    height: 456px;
    bottom: -30px;
    right: -40px;
    background-position: left;
    background-image: url('../img/order-form/silhouettes/back-background-2.svg');

    @include breakpoint(small-mobile) {
      top: -32px;
      bottom: auto;
      right: -183px;
      transform: rotate(-46deg);
    }
  }

  &:nth-child(3) {
    width: 180px;
    height: 252px;
    top: 190px;
    left: -64px;
    background-image: url('../img/order-form/silhouettes/back-background-3.svg');

    @include breakpoint(small-mobile) {
      transform: rotate(-216deg);
      left: -74px;
      top: auto;
      bottom: 0;
    }
  }

  &:nth-child(4) {
    width: 196px;
    height: 196px;
    top: 46px;
    left: -56px;
    background-image: url('../img/order-form/silhouettes/back-background-4.svg');

    @include breakpoint(small-mobile) {
      top: 30%
    }
  }
}
