.modal-order-holidays {
  justify-content: flex-end;
  align-items: flex-start;

  @include breakpoint(small-tablet) {
    justify-content: center;
    align-items: flex-start;
  }
}

.modal-order-holidays__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100vh;

  @include breakpoint(tablet) {
    padding-top: 15.0rem;
    padding-right: 5.0rem;
  }

  @include breakpoint(small-tablet) {
    padding: 3.0rem 2.0rem !important;
  }
}

.modal-order-holidays__content {
  height: 100%;
  overflow: auto;
  background-color: #fff;
  border-radius: 2.0rem;
  padding: 5.0rem 5.0rem;
  width: 63.4rem;
  display: none;

  @include breakpoint(small-tablet) {
    padding: 3.0rem 2.0rem;
    width: 100%;
  }

  @include breakpoint(small-mobile) {
    padding: 2.0rem 1.0rem;
    width: 100%;
  }

  &.mod-show {
    display: block;
  }
}

.modal-order-holidays__title {
  font-size: 3.2rem;
  line-height: 2.8rem;
  color: var(--secondary-color);
  margin-bottom: 3.0rem;

  @include breakpoint(tablet) {
    font-size: 2.8rem;
    margin-bottom: 2.0rem;
  }

  @include breakpoint(small-mobile) {
    font-size: 2.4rem;
    margin-bottom: 1.0rem;
  }
}

.modal-order-holidays__form-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .8rem;

  .gl-input {
    &.parsley-error {
      background-color: rgba(255, 84, 108, 0.05);
      border: .1rem solid rgba(255, 84, 108, 0.3);
    }
  }

  .parsley-errors-list {
    &.filled {
      margin-top: .4rem;
      font-size: 1.2rem;
      line-height: 2.2rem;
      color: #FF546C;
      padding-left: 2.8rem;
      background-image: url('../img/common/error-validation.svg');
      background-repeat: no-repeat;
      background-position: top 50% left .8rem;
      background-size: 1.6rem;
      display: flex;
      overflow: hidden;
      transition: max-height 300ms;
      align-items: center;
      cursor: initial;
      font-family: var(--calibri);
    }
  }
}

.modal-order-holidays__btns-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoint(small-tablet) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.modal-order-holidays__input-textarea {
  height: 16.2rem;
}

.modal-order-holidays__sent {
  min-height: 45.8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--secondary-color);
}

.modal-order-holidays__close-btn {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-order-holidays__close-icon {
  fill: var(--secondary-color);
}

.modal-order-holidays__sent-title {
  font-size: 3.2rem;
  line-height: 2.8rem;
  margin-bottom: 2.6rem;
  text-align: center;
}
