.footer {
  background-color: #7E1CEF;
  background-image: url('../img/footer/background.svg');
  background-size: contain;
  background-position: center;
}

.footer__logo-block {
  margin-bottom: 84px;
}
