$main-btn-height-dest: 5.4rem;
$transparent-btn-height-dest: 5.0rem; // (54 - (2 + 2))
$main-btn-height-laptop: 5.0rem;
$transparent-btn-height-laptop: 4.6rem; // (50 - (2 + 2))
$transparent-btn-border: .2rem;

.gl-main-btn, .gl-transparent-btn {
  padding: 0 2.6rem;
  height: $main-btn-height-dest;
  border-radius: 1.0rem;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.7rem;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: .2rem;

  &:hover {
    text-decoration: none;
    color: #fff !important;
  }

  @include breakpoint(large-desktop) {
    padding: 0 1.8rem;
    height: $main-btn-height-laptop;
    font-size: 1.2rem;
  }
}

.gl-btn-container {
  display: block;
  overflow: hidden;
}

.gl-btn-wrapper {
  display: flex;
  flex-direction: column;
  transform: translateY(.0rem);
  transition: 300ms transform;
}

.gl-btn-content-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gl-main-btn {
  background: linear-gradient(300.27deg, #FFE98B 9.78%, #D74479 88.27%);

  .no-touch &:hover,
  .touch &:active {
    .gl-btn-wrapper {
      transform: translateY(-$main-btn-height-dest);

      @include breakpoint(large-desktop) {
        transform: translateY(-$main-btn-height-laptop);
      }
    }
  }

  .gl-btn-container {
    display: block;
    height: $main-btn-height-dest;
    overflow: hidden;

    @include breakpoint(large-desktop) {
      height: $main-btn-height-laptop;
    }
  }

  .gl-btn-wrapper {
    height: calc(#{$main-btn-height-dest} * 2);

    @include breakpoint(large-desktop) {
      height: calc(#{$main-btn-height-laptop} * 2);
    }
  }

  .gl-btn-content-item {
    height: $main-btn-height-dest;

    @include breakpoint(large-desktop) {
      height: $main-btn-height-laptop;
    }
  }
}

.gl-transparent-btn {
  background: transparent;
  border: $transparent-btn-border solid #9267C2;

  .no-touch &:hover,
  .touch &:active {
    .gl-btn-wrapper {
      transform: translateY(-$transparent-btn-height-dest);

      @include breakpoint(large-desktop) {
        transform: translateY(-$transparent-btn-height-laptop);
      }
    }
  }

  .gl-btn-container {
    display: block;
    height: $transparent-btn-height-dest;
    overflow: hidden;

    @include breakpoint(large-desktop) {
      height: $transparent-btn-height-laptop;
    }
  }

  .gl-btn-wrapper {
    height: calc(#{$transparent-btn-height-dest} * 2);

    @include breakpoint(large-desktop) {
      height: calc(#{$transparent-btn-height-laptop} * 2);
    }
  }

  .gl-btn-content-item {
    height: $transparent-btn-height-dest;

    @include breakpoint(large-desktop) {
      height: $transparent-btn-height-laptop;
    }
  }
}

.gl-radio-btn-wrapper {
  width: 100%;
}

// неактивная кнопка
.gl-radio-btn-content-wrapper {
  border: .1rem dashed rgba(0, 0, 0, 0.2);
  border-radius: 2.0rem;
  padding: 1.0rem;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms background-color;
}

.gl-radio-btn-content {
  font-size: 1.6rem;
  line-height: 2.0rem;
  color: #000;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: .4rem;
    height: .4rem;
    border-radius: 100%;
    background-color: #fff;
    opacity: 0;
  }
}

.gl-radio-btn-wrapper {
  .gl-radio-btn {
    display: none;

    &:checked {
      // активная кнопка
      + .gl-radio-btn-content-wrapper {
        border: .1rem solid transparent;
        background-color: var(--third-color);

        .gl-radio-btn-content {
          color: #fff;
          padding-left: 1.0rem;

          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
}

.gl-input-wrapper {
  display: block;
  line-height: 2.2rem;
  color: var(--secondary-color);
  transition: 300ms background, 300ms border-color;

  &.order-form__input-hide-mobile {
    @include breakpoint(desktop) {
      max-height: 0;
      padding: 0;
      margin: 0;
      opacity: 0;
      z-index: -1;
      transition: 300ms max-height, 300ms padding, margin-top 300ms;

      &.mod-show {
        max-height: 10.0rem;
        opacity: 1;
        z-index: 1;

        &.gl-datepicker-container {
          z-index: 100;
        }
      }
    }
  }
}

.gl-input {
  background: #F7F7F7;
  border-radius: 1.0rem;
  padding: 1.4rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: var(--secondary-color);
  box-sizing: border-box;

  &::placeholder {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: var(--secondary-color);
  }
}

.gl-input-textarea {
  height: 8.0rem;
}

.gl-input-number-wrapper {
  display: flex;
  justify-content: space-between;
}

.gl-input-number-text {
  user-select: none;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.gl-input-number-panel {
  display: flex;
  align-items: center;
}

.gl-input-number-value {
  font-size: 1.4rem;
  border: .1rem solid #FF546C;
  border-radius: 3.4rem;
  margin: 0 .8rem;
  width: 4.2rem; // default, а вообще проставляется в JS
  display: block;
  padding: 0 1.6rem;
  text-align: center;
  line-height: 2.2rem;

  @include breakpoint(small-tablet) {
    line-height: 2.8rem;
  }
}

.gl-input-number-btn {
  display: flex;
  align-items: center;

  svg {
    fill: var(--secondary-color)
  }
}

.gl-checkbox-wrapper {
  cursor: pointer;

  .gl-checkbox {
    display: none;

    &:checked {
      + .gl-checkbox-content {
        .gl-checkbox-content-icon {
          background-image: url('../img/common/checked-checkbox.svg');
        }
      }
    }
  }
}

.gl-checkbox-content {
  display: flex;
  margin-top: 1.2rem;
  opacity: 0.3;
  user-select: none;
}

.gl-checkbox-content-text {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #150533;
  display: flex;
  align-items: center;
}

.gl-checkbox-content-icon {
  width: 1.8rem;
  height: 1.8rem;
  border: .1rem solid #240956;
  border-radius: .5rem;
  margin-right: 1.0rem;
  background-repeat: no-repeat;
  background-size: .9rem .9rem;
  background-position: center;
  flex: 0 0 1.8rem;
}

.order-form__btn-submit-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.6rem;

  @include breakpoint(small-mobile) {
    margin-top: 3.2rem;
  }
}

.order-form__btn-submit {
  min-width: 21.4rem;

  @include breakpoint(small-mobile) {
    width: 100%;
  }
}

.gl-close-btn-wrapper {
  position: absolute;
  content: '';
  top: 3.0rem;
  right: 3.0rem;
  z-index: 2;

  .no-touch &:hover,
  .touch &:active {
    .gl-video-close-icon {
      fill: #000;
    }
  }
}

.gl-close-btn-icon {
  fill: #fff;
  transition: 300ms fill;
}
