$main-btn-height-dest: 54px;
$transparent-btn-height-dest: 50px; // (54 - (2 + 2))
$main-btn-height-laptop: 50px;
$transparent-btn-height-laptop: 46px; // (50 - (2 + 2))
$transparent-btn-border: 2px;

.gl-main-btn, .gl-transparent-btn {
  padding: 0 26px;
  height: $main-btn-height-dest;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 2px;

  &:hover {
    text-decoration: none;
    color: #fff !important;
  }

  @include breakpoint(large-desktop) {
    padding: 0 18px;
    height: $main-btn-height-laptop;
    font-size: 12px;
  }
}

.gl-btn-container {
  display: block;
  overflow: hidden;
}

.gl-btn-wrapper {
  display: flex;
  flex-direction: column;
  transform: translateY(0px);
  transition: 300ms transform;
}

.gl-btn-content-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gl-main-btn {
  background: linear-gradient(300.27deg, #FFE98B 9.78%, #D74479 88.27%);

  .no-touch &:hover,
  .touch &:active {
    .gl-btn-wrapper {
      transform: translateY(-$main-btn-height-dest);

      @include breakpoint(large-desktop) {
        transform: translateY(-$main-btn-height-laptop);
      }
    }
  }

  .gl-btn-container {
    display: block;
    height: $main-btn-height-dest;
    overflow: hidden;

    @include breakpoint(large-desktop) {
      height: $main-btn-height-laptop;
    }
  }

  .gl-btn-wrapper {
    height: calc(#{$main-btn-height-dest} * 2);

    @include breakpoint(large-desktop) {
      height: calc(#{$main-btn-height-laptop} * 2);
    }
  }

  .gl-btn-content-item {
    height: $main-btn-height-dest;

    @include breakpoint(large-desktop) {
      height: $main-btn-height-laptop;
    }
  }
}

.gl-transparent-btn {
  background: transparent;
  border: $transparent-btn-border solid #9267C2;

  .no-touch &:hover,
  .touch &:active {
    .gl-btn-wrapper {
      transform: translateY(-$transparent-btn-height-dest);

      @include breakpoint(large-desktop) {
        transform: translateY(-$transparent-btn-height-laptop);
      }
    }
  }

  .gl-btn-container {
    display: block;
    height: $transparent-btn-height-dest;
    overflow: hidden;

    @include breakpoint(large-desktop) {
      height: $transparent-btn-height-laptop;
    }
  }

  .gl-btn-wrapper {
    height: calc(#{$transparent-btn-height-dest} * 2);

    @include breakpoint(large-desktop) {
      height: calc(#{$transparent-btn-height-laptop} * 2);
    }
  }

  .gl-btn-content-item {
    height: $transparent-btn-height-dest;

    @include breakpoint(large-desktop) {
      height: $transparent-btn-height-laptop;
    }
  }
}

.gl-radio-btn-wrapper {
  width: 100%;
}

// неактивная кнопка
.gl-radio-btn-content-wrapper {
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms background-color;
}

.gl-radio-btn-content {
  font-size: 16px;
  line-height: 20px;
  color: #000;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #fff;
    opacity: 0;
  }
}

.gl-radio-btn-wrapper {
  .gl-radio-btn {
    display: none;

    &:checked {
      // активная кнопка
      + .gl-radio-btn-content-wrapper {
        border: 1px solid transparent;
        background-color: var(--third-color);

        .gl-radio-btn-content {
          color: #fff;
          padding-left: 10px;

          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
}

.gl-input-wrapper {
  display: block;
  line-height: 22px;
  color: var(--secondary-color);
  transition: 300ms background, 300ms border-color;

  &.order-form__input-hide-mobile {
    @include breakpoint(desktop) {
      max-height: 0;
      padding: 0;
      margin: 0;
      overflow: hidden;
      transition: 300ms max-height, 300ms padding, margin-top 300ms;

      &.mod-show {
        max-height: 52px;
      }
    }
  }
}

.gl-input {
  background: #F7F7F7;
  border-radius: 10px;
  padding: 14px;
  font-size: 16px;
  line-height: 22px;
  color: var(--secondary-color);
  box-sizing: border-box;

  &::placeholder {
    font-size: 16px;
    line-height: 22px;
    color: var(--secondary-color);
  }
}

.gl-input-textarea {
  height: 80px;
}

.gl-input-number-wrapper {
  display: flex;
  justify-content: space-between;
}

.gl-input-number-text {
  user-select: none;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.gl-input-number-panel {
  display: flex;
  align-items: center;
}

.gl-input-number-value {
  font-size: 14px;
  border: 1px solid #FF546C;
  border-radius: 34px;
  margin: 0 8px;
  width: 42px; // default, а вообще проставляется в JS
  display: block;
  padding: 0 16px;
  text-align: center;
  line-height: 22px;

  @include breakpoint(small-tablet) {
    line-height: 28px;
  }
}

.gl-input-number-btn {
  display: flex;
  align-items: center;

  svg {
    fill: var(--secondary-color)
  }
}

.gl-checkbox-wrapper {
  cursor: pointer;

  .gl-checkbox {
    display: none;

    &:checked {
      + .gl-checkbox-content {
        .gl-checkbox-content-icon {
          background-image: url('../img/common/checked-checkbox.svg');
        }
      }
    }
  }
}

.gl-checkbox-content {
  display: flex;
  margin-top: 12px;
  opacity: 0.3;
  user-select: none;
}

.gl-checkbox-content-text {
  font-size: 12px;
  line-height: 14px;
  color: #150533;
  display: flex;
  align-items: center;
}

.gl-checkbox-content-icon {
  width: 18px;
  height: 18px;
  border: 1px solid #240956;
  border-radius: 5px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: 9px 9px;
  background-position: center;
  flex: 0 0 18px;
}

.order-form__btn-submit-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;

  @include breakpoint(small-mobile) {
    margin-top: 32px;
  }
}

.order-form__btn-submit {
  min-width: 214px;

  @include breakpoint(small-mobile) {
    width: 100%;
  }
}

.gl-close-btn-wrapper {
  position: absolute;
  content: '';
  top: 30px;
  right: 30px;
  z-index: 2;

  .no-touch &:hover,
  .touch &:active {
    .gl-video-close-icon {
      fill: #000;
    }
  }
}

.gl-close-btn-icon {
  fill: #fff;
  transition: 300ms fill;
}
