.gl-main-btn, .gl-transparent-btn {
  padding: 18px 26px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.gl-main-btn {
  background: linear-gradient(300.27deg, #FFE98B 9.78%, #D74479 88.27%);
}

.gl-transparent-btn {
  background: transparent;
  border: 2px solid #9267C2;
}

.gl-font-riffic {
  font-family: var(--riffic);
}

.gl-font-calibri {
  font-family: var(--calibri);
}
