.gl-font-riffic {
  font-family: var(--riffic);
}

.gl-font-calibri {
  font-family: var(--calibri);
}

.gl-title {
  font-weight: bold;
  font-size: 2.0rem;
  line-height: 2.8rem;
  letter-spacing: 0.18em;
  color: var(--third-color);
  margin-bottom: 1.8rem;
  text-transform: uppercase;

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(tablet) {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  @include breakpoint(small-mobile) {
    font-size: 1.0rem;
    line-height: 1.2rem;
    margin-bottom: 1.6rem;
  }
}

.gl-subtitle {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 5.6rem;
  color: var(--secondary-color);
  margin-bottom: 6.0rem;

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(laptop) {
    font-size: 3.8rem;
    line-height: 4.8rem;
    margin-bottom: 5.0rem;
  }

  @include breakpoint(small-mobile) {
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin-bottom: 4.0rem;
  }
}

.gl-main-block {
  background: #fff;
  box-shadow: 0 0 8.2rem rgba(93, 16, 182, 0.1049);
  border-radius: 2.0rem;
}

.gl-nowrap {
  white-space: nowrap;
}

.gl-social-wrapper {
  display: flex;
  align-items: center;
}

.gl-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .8rem;

  .no-touch &:hover,
  .touch &:active {
    .gl-social-image {
      fill: var(--third-color);
    }
  }
}

.gl-social-image {
  fill: #fff;
  transition: 150ms fill;
}

.gl-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--back-background-modal);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  opacity: 0;
  transition: 400ms opacity;

  &.mod-show {
    opacity: 1;
    z-index: 3;
  }
}

.gl-modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.6rem;
  max-height: 66vh;
  max-width: 60vw;
  overflow: hidden;
  z-index: 100;
  width: 100%;
  height: 100%;

  @include breakpoint(small-mobile) {
    max-height: 86vh;
    max-width: 80vw;
  }
}

.gl-video-iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
