.gl-main-btn, .gl-transparent-btn {
  padding: 18px 26px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.gl-main-btn {
  background: linear-gradient(300.27deg, #FFE98B 9.78%, #D74479 88.27%);
}

.gl-transparent-btn {
  background: transparent;
  border: 2px solid #9267C2;
}

.gl-font-riffic {
  font-family: var(--riffic);
}

.gl-font-calibri {
  font-family: var(--calibri);
}

.gl-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.18em;
  color: #FF546C;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.gl-subtitle {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #240956;
  margin-bottom: 60px;
}

.gl-nowrap {
  white-space: nowrap;
}
