:root {
  --padding-page-content-tablet: 3.0rem;
  --padding-page-content-mobile: 2.0rem;
}

.container {
  width: 100%;
  max-width: 164.0rem;
  margin: 0 auto;
  padding: 0 var(--content-padding);

  @include breakpoint(tablet) {
    padding-left: var(--padding-page-content-tablet);
    padding-right: var(--padding-page-content-tablet);
  }

  @include breakpoint(mobile) {
    padding-left: var(--padding-page-content-mobile);
    padding-right: var(--padding-page-content-mobile);
  }
}

.layout-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-image: url('../img/header/background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 40.6rem;
    z-index: -1;

    @include breakpoint(tablet) {
      height: 28.4rem;
    }

    @include breakpoint(small-mobile) {
      height: 16.2rem;
    }
  }
}

.layout-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
